
<div>
  <app-news-item></app-news-item>



  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <ul class="newstab">
          <li  *ngFor="let item of arr_li ;let first=first;let index=index" ><a style="cursor: pointer" [class.on]="tab_index==index" (click)="tab_index=index" >{{item}}</a></li>
        </ul>

        <div [ngSwitch]="tab_index">

          <div *ngSwitchCase="0" id="section1">
            <div class="row">
              <div class="col-md-12 media-left-big" >

                <div class="media" *ngFor="let getNew of getNews| paginate: { itemsPerPage: 6, currentPage: p }">

                  <div class="media-left">
                    <a (click)="toNewsDetail(getNew.id)" >
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/redian{{getNew.id}}.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <p>{{getNew.id}}</p>
                    <h3 class="media-heading"><a (click)="toNewsDetail(getNew.id)">{{getNew.newsName}}</a></h3>
                    {{getNew.newsContent1}}

                    <h5 class="text-bottom ">作者：{{getNew.newsWriter}} | <span>{{getNew.publishTime}}</span></h5>
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>

              </div>
            </div>
          </div>

 <!--安家帮助-->
          <div *ngSwitchCase="1" id="section2">
            <div class="row">
              <div class="col-md-12 media-left-big">


                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/bangzhu1.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading"><a href="/news-detail">又出便民好消息！地铁延长运营时间！</a></h2>
                    经常乘坐地铁的小伙伴，下面为您播报一条好消息：为更方便广大市民的日常出行，通过对日常客流情况的分析研究，从今天起，苏州地铁1号线缩短行车间隔，2号线延长运营时间，具体调整如下。

                    <h5 class="text-bottom ">作者：人民日报 | <span>2小时前</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/bangzhu2.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">吴江城区第一条快速高架路即将开建</h2>
                    吴江城区第一条快速高架路即将开建，全长约8.6公里 双向6车道 总投资约42亿元。目前，江陵路快速化改造工程正处于工程可行性研究阶段，相关部门正在进行项目环评、稳评等工作，计划2018年初开工建设。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2小时前</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/bangzhu3.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">盘胥路下穿胥江路隧道12月底开工</h2>
                    盘胥路和新市路路口，一直是古城区交通的一个堵点。记者昨天从市住建部门获悉，盘胥路下穿胥江路隧道项目工程已于日前获得同意批复，预计项目将在今年12月开工。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2小时前</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/bangzhu4.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">吴江不动产登记下周一起“一窗受理”</h2>
                    不动产登记是“落户”的头等大事，但涉及部门多、排队次数多……让它成了一件耗时的麻烦事。不过，好消息来啦，为提高登记效率、方便群众办理，吴江区不动产交易、纳税、登记将采用“一窗受理”。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2小时前</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/bangzhu5.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">园区人等待了3年的星港街隧道即将通车！</h2>
                    园区人等待了3年的星港街隧道即将通车，就在8月20日！再也不用等待漫长的红灯，一分多钟就能穿越星港街隧道。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2小时前</span></h5>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--经验分享-->
          <div *ngSwitchCase="2" id="section3"
              >
            <div class="row">
              <div class="col-md-12 media-left-big">


                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/jingyan1.png" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">装修中的这些糟心事你遇到过吗？</h2>
                    对于没有装修经验的“菜鸟”们来说，装修可是个麻烦活儿，从设计、选材到安装等一系列步骤满满都是坑。今天，咱们就来说说装修遇到的糟心事。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2017-09-20</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/jingyan2.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">70多平的“未来之屋” 年轻人第一套房就应该长这样</h2>
                    一名80后IT男，通过自己的精心设计，让自己的70多平“蜗居房”摇身变成“未来之屋”，来看看他自己讲述的装修经历。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2017-04-10</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/jingyan3.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">贷款问题一点通 你问我答大解析（2）</h2>
                    买房贷款的最详细经验之谈，都在这里了。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2017-02-03</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/jingyan4.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">贷款问题一点通 你问我答大解析（1）</h2>
                    买房贷款的最详细经验之谈，都在这里了。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2017-02-03</span></h5>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/jingyan5.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">贷款问题一点通 你问我答大解析（3）</h2>
                    买房贷款的最详细经验之谈，都在这里了。
                    <h5 class="text-bottom ">作者：人民日报 | <span>2017-02-03</span></h5>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div *ngSwitchDefault="" >

            <div class="row">
              <div class="col-md-12 media-left-big"  >

                <div class="media" id="news-list-style" *ngFor="let getNew of getNews| paginate: { itemsPerPage: 5, currentPage: p }" >

                  <div class="media-left">
                    <a (click)="toNewsDetail(getNew.id)" style="cursor: pointer">
                      <img class="media-object" src="http://owhah4u2f.bkt.clouddn.com/images/news/redian{{getNew.id}}.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">

                    <h3 class="media-heading"><a (click)="toNewsDetail(getNew.id)" style="cursor: pointer">{{getNew.newsName}}</a></h3>
                    {{getNew.newsContent1}}

                    <h5 class="text-bottom ">作者：{{getNew.newsWriter}} | <span>{{getNew.publishTime}}</span></h5>
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>

              </div>
            </div>

          </div>
        </div>



      </div>
    </div>




  </div>
  <div id="elevator_item">
    <a id="elevator" onclick="return false;" title="回到顶部"></a>
    <a class="qr"></a>
    <div class="qr-popup" style="background-color: rgba(0,0,0,0.63)">
      <a class="code-link">
        <img class="code" src="../../assets/images/wxapp.png"/>
      </a>
      <span>扫码关注更多房屋信息</span>
      <div class="arr"></div>
    </div>

  </div>
</div>
<app-footer></app-footer>
