
<div>
  <app-news-item></app-news-item>



  <div class="container">
<div class="row">
  <div class="col-md-9 media-left-big">

    <div class="media" style="border-top: none" >
      <div class="media-left" >
        <a href="#">
          <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>


    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

          <h5>作者：人民日报 | <span>2小时前</span></h5>
      </div>
    </div>


    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <h5>作者：人民日报 | <span>2小时前</span></h5>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <h5>作者：人民日报 | <span>2小时前</span></h5>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <h5>作者：人民日报 | <span>2小时前</span></h5>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <h5>作者：人民日报 | <span>2小时前</span></h5>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <h5>作者：人民日报 | <span>2小时前</span></h5>
      </div>
    </div>


  </div>


  <div class="col-md-3 news-right">
    <div class="thumbnail">
      <img src="../../assets/images/h1.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque</p>

      </div>
    </div>
    <div class="thumbnail">
      <img src="../../assets/images/h1.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque</p>

      </div>
    </div>

   <div class="news-right-samll">
     <div class="media">
       <div class="media-left">
         <a href="#">
           <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
         </a>
       </div>
       <div class="media-body">
         <h4 class="media-heading">Media heading</h4>
         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
       </div>
     </div>
     <div class="media">
       <div class="media-left">
         <a href="#">
           <img class="media-object" src="../../assets/images/sky.jpg" alt="...">
         </a>
       </div>
       <div class="media-body">
         <h4 class="media-heading">Media heading</h4>
         nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
       </div>
     </div>
   </div>

  </div>

</div>
  </div>
</div>
