<div class="news-bg" >
  <div class="news-title">
    <span class="news-logo"><img src="http://owhah4u2f.bkt.clouddn.com/images/logo/1.png" alt=""></span>
    <h1 class="text-nav">{{getNews.newsName}}</h1>
    <p class="text-timer">发布时间：{{getNews.publishTime}} &nbsp;类型：改善换房</p>

  </div>


  <div class="news-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 news-wenzhang">

          <br>
          <br>
          <br>
          <p>

{{getNews.newsContent1}}

          </p>
          <p>
            {{getNews.newsContent2}}

          </p>
          <p>
            {{getNews.newsContent3}}

          </p>

          <br>
          <br>
          <br>
<h5 style="text-align: right">发布时间：{{getNews.publishTime}} 来源：{{getNews.newsWriter}}</h5>
          <br>
          <br>

        </div>
        <div class="col-lg-3 ">
        <!--<h3 style="text-align: center;border-bottom: 1px solid rgba(0,0,0,0.48);padding: 5px">相关问题</h3>-->


 <!--<p>-->
   <!--<a href="">房东不得单方提高租金?</a>-->
<!--<span class="xg-time">-->
<!--2017-04-11 12:16-->
<!--</span>-->
 <!--</p>-->
 <!--<p><a href="">房东不得单方提高租金</a></p>-->
 <!--<p><a href="">房东不得单方提高租金</a></p>-->
 <!--<p><a href="">房东不得单方提高租金</a></p>-->
          <ul class="list-group">

            <li class="list-group-item" style="background-color: #9c9fa1">  <h4 style="text-align: center;">相关问题</h4></li>

            <li class="list-group-item">   <span class="badge">14</span>Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>


      </div>

    </div>
  </div>


  <app-footer></app-footer>
</div>

