/*.nav{*/
  /*margin-left: 30px;*/
  /*background-color: #F5F5F5;*/
  /*font-size: 17px;*/
/*}*/
ul{
  height: 40px;
  width: 870px;
  /*margin-left: 10px;*/
  /*background-color: #F5F5F5;*/
  font-size: 17px;
}
li{
  height: 37px;
  width: 130px;
  border: 1px white solid;
  color: rgba(0, 0, 0, 0.89);
  text-align: center;
  line-height: 37px;
  margin-right: 20px;
  left: 20%;

}


.nav li.on{
  transition: width 1s;
  color: #000000;
  border-bottom: 3px solid #1a8b51;


}
