<div class="container" [ngSwitch]="switch_expression">
  <div class="col-md-12 col-lg-12 ">
    <h2 style="color: #9c9fa1"><strong>我的账户信息</strong></h2>
    <ul class="nav nav-tabs">
      <li role="presentation" [class.on]="tab_index==index" (click)="tab_index=index"  *ngFor="let item of tabs;let first=first;let index=index"><span href="#">{{item}}</span></li>
    </ul>

    <div [ngSwitch]="tab_index" class="content-css">
      <div *ngSwitchCase="0"><a ><app-upload></app-upload></a></div>
      <div *ngSwitchCase="1"><a ><app-password></app-password></a></div>
    </div>
  </div>
  <!--<a href="#"*ngFor="let i of arr_page_count">{{i}}</a>-->
  <!--<div class="col-md-12 col-lg-12 ">-->
    <!--&lt;!&ndash;从数据源到视图&ndash;&gt;-->
    <!--<input type="text" [(ngModel)]="a">-->

    <!--<h1>{{a}}</h1>-->
  <!--</div>-->
  <!--<img [src]="img_url" alt="">-->

  <!--<input type="text" #input01 [value]="a">-->
  <!--<h3>{{input01.value}}</h3>-->
</div>
