.list-wrap {
  border-top: 1px solid #e0e0e0;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.house-list li {
  padding: 26px 26px;
  border-bottom: 1px dotted #e1e1e1;
  background: #fff;
  position: relative;
  /*float: left;*/
}
.house-list li:hover{
  background: #fbfbfb;
}
.house-list .pic-panel img:hover {
  opacity: .8;
}
.info-panel h2:hover {
  opacity: .8;
}
.pic-panel,.info-panel,.renting{
  display: inline-block;
  vertical-align: middle;
}
.pic-panel{
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  font-size: 0;
  position: relative;
  width: 173px;
  height: 130px;
}
a {
  text-decoration: none;
  outline: none;
}

.house-list .pic-panel img {
  width: 173px;
  height: 130px;
}
img{
  border: 0;
  vertical-align: top;
}
.info-panel{
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  padding-left: 18px;
  /*font-size: 0;*/
  position: relative;
  height: 130px;
  /*width: 75%;*/
}

.info-panel h2{
  margin-top: -5px;
}
.info-panel h2 a{
  color: #009de8;
  font-size: 20px;
  font-weight: 700;

}
.where,.other{
  margin-top: 25px;
}
.ping{
  font-size: 2em;
}
.renting{
  float: right;
}
.renting span{
  font-size: 2em;
}
.renting .renting-money{
  color: #E4393C;
}
.renting .publishtime{
  font-size: 1em;
  color: #b1b1b1;
}
.del01{
  height: 30px;
  width: 30px;
  float: right;
  text-align: center;
  display: none;
  clear: both;
  position: absolute;
  right: 0px;
  top: 0px;
}
.del02{
  height: 30px;
  width: 30px;
  float: right;
  text-align: center;
  display: none;
  clear: both;
  position: absolute;
  right: 40px;
  top: 0px;
  border-right: 2px white solid;
}
.del{
  height: 30px;
  width: 30px;
  float: right;
  text-align: center;
  display: none;
  clear: both;
  position: absolute;
  right: 0px;
  top: 0px;
}
.house-list li:hover div{
  display: block;
  cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////*/


a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
#accordion{
  padding-right: 24px;
  padding-left: 24px;
  z-index: 1;
}
#accordion .panel{
  border: none;
  box-shadow: none;
}
#accordion .panel-heading{
  padding: 0;
  border-radius: 0;
  border: none;
}
#accordion .panel-title{
  padding: 0;
}
#accordion .panel-title a{
  display: block;
  font-size: 16px;
  font-weight: bold;
  background: #3e4d78;

  padding: 15px 25px;
  position: relative;
  margin-left: -24px;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed{
  background: #3e4d78;
  color: white;
  margin-left: 0;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a:before{
  content: "";
  background: #3e4d78;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  position: absolute;
  top: 0;
  right: -24px;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
  background: #3e4d78;
}
#accordion .panel-title a:after{
  content: "\f106";
  font-family: 'FontAwesome';
  position: absolute;
  top: 30%;
  right: 15px;
  font-size: 18px;
  color: white;
}
#accordion .panel-title a.collapsed:after{
  content: "\f107";
  color: white;
}
#accordion .panel-collapse{
  position: relative;
}
#accordion .panel-collapse.in:before{
  content: "";
  border-right: 24px solid rgb(62, 77, 120);
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 0;
  left: -24px;
}
#accordion .panel-body{
  font-size: 14px;
  color: #333;
  background-color: rgba(62, 77, 120, 0.64);
  border-top: none;
  z-index: 1;
}

