

  <div class="jeeok-container" >
    <header class="jeeok-header">

      <div class="jeeok-links">

      </div>
    </header>
    <div class="demo" style="padding: 1em 0;" >
      <div class="container" style="width: 100%">
        <div class="row">
          <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >

              <div class="panel panel-default" id="sfq1">
                <div class="panel-heading" role="tab" id="headingFour" >
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      我的房源
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <ul id="house-list" class="house-list" >
                      <li *ngFor="let house of houses "  >
                        <app-test-list-item [house]="house"></app-test-list-item>

                        <div class="del01"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delHouse(house.houseId)" height="30" width="30"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      我的预约
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul  class="house-list">

                      <li *ngFor="let house of arrHouses | status: 0">
                        <app-test-list-item [house]="house"></app-test-list-item>
                        <div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecordByarrId(house.arrangeId)" height="30" width="30"></div>
                        <div class="del02"><img src="http://owhah4u2f.bkt.clouddn.com/images/agree.png" (click)="agreeWatch(house.arrangeId,house.userName,house.telephone,house.ownerName,house.ownerTelephone)" height="30" width="30"></div>

                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      业主已同意
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <ul class="house-list">

                      <li *ngFor="let house of arrHouses | status: 1">
                        <app-test-list-item [house]="house"></app-test-list-item>
                        <div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/images/delet.png" (click)="delRecordByarrId(house.arrangeId)" height="30" width="30"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      已完成的看房
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <ul  class="house-list">

                      <li *ngFor="let house of arrHouses | status: 2">
                        <app-test-list-item [house]="house"></app-test-list-item>
                        <div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecordByarrId(house.arrangeId)" height="30" width="30"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--<div cldiv="list-wrap">-->
<!--<ul  class="house-list">-->
<!--我的预约-->
<!--<li *ngFor="let house of houses | status: 0">-->
<!--<app-test-list-item [house]="house"></app-test-list-item>-->
<!--<div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecord(house.houseId)" height="30" width="30"></div>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="house-list">-->
<!--业主已同意-->
<!--<li *ngFor="let house of houses | status: 1">-->
<!--<app-test-list-item [house]="house"></app-test-list-item>-->
<!--<div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecord(house.houseId)" height="30" width="30"></div>-->
<!--</li>-->
<!--</ul>-->
<!--<ul  class="house-list">-->
<!--已完成的看房-->
<!--<li *ngFor="let house of houses | status: 2">-->
<!--<app-test-list-item [house]="house"></app-test-list-item>-->
<!--<div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecord(house.houseId)" height="30" width="30"></div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
