<!--<div class="upload">-->
  <!--<form class="form-horizontal file" method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">-->


    <!--<input type="file" (change)="change($event)" class="form_control" id="upload_file" name="user_icon">-->

    <!--<div id="preview">-->
      <!--<h1>+&nbsp;&nbsp;添加照片</h1>-->
    <!--</div>-->

    <!--<a  class="publish_next">保存并继续</a>-->
    <!--<input name="key" type="hidden" value="images/user-icon/14.jpg">-->



    <!--<input class="div1" type="submit" value="上传">-->

  <!--</form>-->
<!--</div>-->
<!--<form class="form-horizontal" enctype="multipart/form-data">-->
  <!--<input class="form-control" type="file" name="file" (change)="checkCard($event.target.files)" placeholder="Upload file">-->
<!--</form>-->

<form class=" form-horizontal" enctype="multipart/form-data">
  <input class="form-control" type="file" name="user_icon"  id="upload_file"   (change)="onFileChanged($event.target.files)" placeholder="Upload file">

  <div id="preview">
    <!--<h1>+&nbsp;&nbsp;添加照片</h1>-->
  </div>
  <input class="div1" type="submit" value="上传">
</form>
