


<div class="top">
  <img class="icon" (click)="toIndex()" src="http://owhah4u2f.bkt.clouddn.com/images/logo/1.png

" height="80" width="160"/>
  <ul class="nav">
    <!--<li class="li01" >-->
    <!--<a href="#" style="color: white"><app-test-list-item [content]="'ewweww'"></app-test-list-item></a></li>-->
    <li class="li01"><a href="/houses" style="color: white">租房</a></li>
    <li class="li01"><a href="/owner" style="color: white">业主</a></li>
    <li class="li01"><a href="/news" style="color: white">头条</a></li>
  </ul>
</div>
<div class="mid" id="mid">
  <div class="mid01">

    <img class="headIcon" src="http://owhah4u2f.bkt.clouddn.com/images/user/{{userId}}.jpg

" onerror="this.src='http://owhah4u2f.bkt.clouddn.com/images/user/default.png'" style="border-radius: 50px;" height="100" width="100"/>


    <div *ngIf="bianhua2">

      <form #userForm="ngForm">
        <input #userName="ngModel" [(ngModel)]="user.userName" id="userName" name="userName" style="width: 10%;height: 40px" type="text" placeholder="{{user.userName}}">
        <br>
        <input #personInfo="ngModel" [(ngModel)]="user.personInfo" id="personInfo" name="personInfo" style="width: 30%;height: 40px" type="text" placeholder="{{user.personInfo}}">
        <br>
        <div class="middet">
          <img src="http://owhah4u2f.bkt.clouddn.com/email.png

" width="20" height="20">
          <input #email="ngModel" [(ngModel)]="user.email" id="email" name="email"  type="text" placeholder="{{user.email}}">
          <br>
          <img src="http://owhah4u2f.bkt.clouddn.com/phone.png

" width="20" height="20">
          <input #telephone="ngModel" [(ngModel)]="user.telephone" id="telephone" name="telephone"  type="text" placeholder="{{user.telephone}}">
          <br>
          <button (click)="bian(userForm)" style="height: 30px;width: 60%;background-color: #00AE66;color: white;border-radius: 5px;border: none;margin-top: 5px">保存</button>
        </div>

      </form>
      <!--<span style="font-size: 18px">小伙子不错不错！祝你学业有成，幸福美满，早生贵子，儿孙满堂</span>-->
    </div>

    <div *ngIf="bianhua1">
      <h1 style="margin-top: 20px">{{user.userName || '你还没有登录呦'}}</h1>
      <br>
      <span style="font-size: 18px">{{user.personInfo}}</span>
      <br>
      <div class="middet">
        <img src="http://owhah4u2f.bkt.clouddn.com/email.png

" width="20" height="20">
        <span>{{user.email}}</span>
        <br>
        <img src="http://owhah4u2f.bkt.clouddn.com/phone.png

" width="20" height="20">
        <span>{{user.telephone}}</span>
        <br>
        <img src="http://owhah4u2f.bkt.clouddn.com/edit.png

" height="20" width="20">
        <span (click)="hua()">编辑资料</span>
      </div>
    </div>



  </div>
  <div class="mid02">
    <ul class="nav tit">
      <li  [class.on]="tab_index==index" (click)="tab_index=index"  *ngFor="let item of tabs;let first=first;let index=index "><span href="#">{{item}}</span></li>
    </ul>

    <div [ngSwitch]="tab_index" class="show">
      <div *ngSwitchCase="0"><a ><app-my-record></app-my-record></a></div>
      <div *ngSwitchCase="1"><a ><app-my-community></app-my-community></a></div>
      <div *ngSwitchCase="2"><a ><app-my-rent></app-my-rent></a></div>
      <div *ngSwitchCase="3"><a ><app-setting></app-setting></a></div>
    </div>
  </div>
</div>


