*{  margin: 0;
  padding: 0;
}
.top{
  width: 100%;
  height:191px;

  float: left;
}
.icon{
  float: left;
  margin-left: 180px;
  margin-top: 40px;
}
.nav{
  margin-top: 50px;
  margin-left: 800px;
  /*background-color: #00b86b;*/

}
.li01{
  float: left;
  margin:20px;
  background-color: #00b86b;
}
.li01 a{
  font-size: 20px;

}
.li01 a:hover{
  color: #00B7FF;
}

/*----------中间------------*/
.mid{
  top: 400px;
  width: 100%;


}
/*---------选项卡-------------------*/
.mid01{
  width: 100%;
  height: 366px;

  /*border: solid #E9E9E9 1px;*/
  /*box-shadow: 0px 0px  4px 3px #E9E9E9;*/
  position: absolute;
  /*margin-left: 175px;*/
  margin-top: 191px;
  text-align: center;

}
/*background-color: #39AC6A;*/
.headIcon{
  /*position: absolute;*/
  /*display: block;*/
  /*margin-left: 50%;*/
  margin:0 auto;
  margin-top: 35px;
}
/*.f01{*/
/*width: 150px;*/
/*height: 40px;*/
/*position: absolute;*/
/*margin-top: 170px;*/
/*padding-left:30px;*/
/*line-height: 40px;*/
/*}*/
.middet{
  margin-top: 6px;
  width: 200px;
  height: 100px;
  margin-left: 43%;
  color: whitesmoke;
}


.middet span{
  font-size:14px;
  color: whitesmoke;
  line-height: 33px;
}
/*__________________显示页___________________-*/
.mid02{
  width: 100%;
  height: 760px;
  position: absolute;
  margin-top: 556px;

}

.tit{
  font-size: 20px;
  width:800px;
  margin: 0 auto;
  list-style: none;
  background-color: rgba(78, 104, 163, 0.73);
  border-radius: 5px ;
}

.tit li{
  width:200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: left;
  border-radius: 3px ;
  color: white;

}
.tit li.on {
background-color: rgba(0, 0, 0, 0.13);
  color: rgba(255, 255, 255, 0.82);
  cursor: pointer;
}

.show{
  width: 80%;
  height: 680px;
  margin-left:10%;
  margin-top: 55px;
}
#container{
  width: 100%;
  background: url("../../assets/images/citylight.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;

}
