<div class="top">
  <img class="icon" src="../../assets/personal-center/logowhite.png" height="50" width="182"/>
  <ul class="nav">
    <li class="li01" ><a href="#" style="color: white">租房</a></li>
    <li class="li01"><a href="#" style="color: white">小区</a></li>
    <li class="li01"><a href="#" style="color: white">经纪人</a></li>
    <li class="li01"><a href="#" style="color: white">头条</a></li>
    <li class="li01"><a href="#" style="color: white">百科</a></li>
    <li class="li01"><a href="#" style="color: white">业主</a></li>
  </ul>
</div>
<div class="mid">
  <div class="left">
    <img class="headIcon" src="../../assets/personal-center/头像.png" height="80" width="80"/>
    <span class="f01" style="background-color: #39AC6A"><a href="#" style="color: white" (click)="toIndex()">首页</a></span>
    <ul class="list">
      <li class="li02"><a routerLink="./rent" routerLinkActive="active" style="color: #555555">关注的租房</a></li>
      <li class="li02"><a  routerLink="./community" routerLinkActive="active" style="color: #555555">关注的小区</a></li>
      <li class="li02"><a routerLink="./record" routerLinkActive="active" style="color: #555555">看房记录</a></li>
      <li class="li02"><a  routerLink="./setting" routerLinkActive="active" style="color: #555555">编辑资料</a></li>
    </ul>
  </div>
  <div class="right ">
    <div>
      <router-outlet>


      </router-outlet>
    </div>

  </div>
</div>

