<!--<div class="col-md-12 col-lg-12"></div>-->

<div class="yz-banner">
  <div class="nav clearfix">
    <img style="margin-left: 100px" src="../../assets/images/green2.png" height="52" width="133"/>
    <div class="housetype-tag">业主</div>
  </div>


  <h2 class="banner-title tc">安家，200万业主信赖的选择</h2>
  <!--<div id="carousel">-->

    <!--<carousel-txt :carousel-list="carouselList"></carousel-txt>-->
  <!--</div>-->

</div>

<div class="col-md-7 col-lg-7 col-lg-offset-1 col-md-offset-1">







  <div class="span_bottem"><span>我要出租</span></div>
  <ul>
    <li><a style="cursor: pointer" [class.go]="tab_index==0" (click)="tab_index=0" >第一步</a></li>
    <li style="float: right"><a style="cursor: pointer" [class.go]="tab_index==1" (click)="tab_index=1" >第二步</a></li>
  </ul>
  <div [ngSwitch]="tab_index">
    <div *ngSwitchCase="0" id="section1" style="height: 390px;box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
         class="container-fluid">


      上传图片

    </div>
    <div *ngSwitchCase="1" id="section2"
         style="box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
         class="container-fluid">

      <form class="form-horizontal" #ownerForm="ngForm">

        <div class="form-group">
          <label  class="col-sm-2 control-label">小区名称</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" #areaName="ngModel" [(ngModel)]="_areaName" id="areaName" name="areaName" placeholder="请输入小区名称" required>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label  class="col-sm-2 control-label">小区地址</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" #add="ngModel" [(ngModel)]="_add" id="address" name="address" placeholder="请输入小区地址" required>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label  class="col-sm-2 control-label">楼层</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" #floor="ngModel" [(ngModel)]="_floor" id="floor" name="floor" placeholder="请输入房屋楼层" required>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label">面积</label>
          <div class="col-sm-4">
            <input type="text" class="form-control"  #area="ngModel" [(ngModel)]="_area" id="area" name="area" placeholder="请输入面积" required>
          </div>
          <label  class="control-label">平 方</label>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label">朝向</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" #hou="ngModel" [(ngModel)]="_hou" id="houseNumber" name="houseNumber" placeholder="请输入朝向" required>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <!-- Single button -->
          <label for="address" class="col-sm-2 control-label">房型选择</label>

          <div class="col-sm-10">
            <select multiple class="form-control" #selectValue="ngModel" [(ngModel)]="_selectValue" id="selectValue" name="houseTypeId" required>
              <option value="1">1室1厅</option>
              <option value="2">2室1厅</option>
              <option value="3">3室1厅</option>
              <option value="4">3室2厅</option>
            </select>


          </div>
        </div>
        <hr>
        <div class="form-group">
          <label  class="col-sm-2 control-label">期望租金</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" pattern="^\d{3,6}$" #housePrice="ngModel" [(ngModel)]="_housePrice" id="housePrice" name="housePrice" placeholder="请输入期望租金(100~100000)" required>
          </div>
          <label  class="control-label">元／月</label>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label">房屋简介</label>
          <div class="col-sm-10">
            <textarea class="form-control" pattern="[^\x00-\xff]{10,20}$" #houseName="ngModel" [(ngModel)]="_intro" id="houseName" name="houseName" placeholder="请输入房屋简介(中文输入10~20字！)" required></textarea>
            <!--<input type="text" class="form-control" pattern="^[\u4e00-\u9fa5a-zA-Z]{20,100}$" #intro="ngModel" [(ngModel)]="_intro" id="intro" name="intro" placeholder="请输入房屋简介(最少20字)" required>-->
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="ownerName" class="col-sm-2 control-label">姓名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" #own="ngModel" [(ngModel)]="_own" id="ownerName" name="ownerName" placeholder="请问该在吗称呼您" required>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label">性别</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 先生
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 女士
            </label>
          </div>
        </div>
        <hr>
        <!--<div class="form-group">-->
        <!--<label for="ownerPhone" class="col-sm-2 control-label">手机号码</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" class="form-control" #tel="ngModel" pattern="^1[34578]\d{9}$" [(ngModel)]="_telephone"  id="ownerPhone" name="ownerPhone" placeholder="请输入您的联系方式" required>-->
        <!--<button  type="button" [disabled]="tel.invalid" class="btn btn-success">获取验证码</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--<div class="form-group">-->
        <!--<label for="confirmCode" class="col-sm-2 control-label">验证码</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" class="form-control"  pattern="^\d{6}$"  #con="ngModel" [(ngModel)]="_con"  id="confirmCode" name="confirmCode" placeholder="请输入手机验证码" required>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <div class="form-group">
          <div class="checkbox">
            <label class="col-sm-6 control-label">
              <input type="checkbox" value="" (change)="setCommit()">
              同意
              <a href="http://sh.lianjia.com/yezhu/wtxy/">《安家房地产出售/出租一般委托协议》</a>
            </label>
          </div>
        </div>
        <div class="form-group" >
          <button type="button" (click)="toRelease(ownerForm)" [disabled]="!(formstatus && ownerForm.form.valid )" class="btn btn-success">确认发布</button>
        </div>

      </form>
    </div>
    <div *ngSwitchDefault="">默认...</div>
  </div>


</div>






<div class="col-md-4 col-lg-4">
  <div class="yz-form clearfix">
    <div id="app"></div>
    <!-- 安家优势 -->
    <div class="yz-advantage fl">
      <h3 class="advantage-title">选择安家的五大理由</h3>
      <div class="advantage-content">
        <div class="advantage-info">
          <div class="info-title clearfix">
            <img src="../../assets/images/1@2x.png" class="fl"><h4 class="advantage-info-title fl">5分钟响应</h4>
          </div>
          <p class="advantage-info-content">周一至周日9:00～21:00，挂牌申请5分钟内客服电话核实（非工作时间及法定节假日次日回电），电话核实后2小时上架。</p>
        </div>
        <div class="advantage-info">
          <div class="info-title clearfix">
            <img src="../../assets/images/2@2x.png" class="fl"><h4 class="advantage-info-title fl">千万级曝光量</h4>
          </div>
          <p class="advantage-info-content">全国安家门店8000+，在房产行业深耕14年+，10万名线下经纪人，千万级线上浏览量，帮您轻松找到买家。</p>
        </div>
        <div class="advantage-info">
          <div class="info-title clearfix">
            <img src="../../assets/images/3@2x.png" class="fl"><h4 class="advantage-info-title fl">上门实勘</h4>
          </div>
          <p class="advantage-info-content">专业摄影团队上门拍摄照片、视频、绘制户型图并上传，帮您向买家更好的展示房子。</p>
        </div>
        <div class="advantage-info">
          <div class="info-title clearfix">
            <img src="../../assets/images/4@2x.png" class="fl"><h4 class="advantage-info-title fl">专业管家</h4>
          </div>
          <p class="advantage-info-content">为您量身推荐专业服务管家，他们将在挂牌到出售的全过程中贴心为您服务。</p>
        </div>
        <div class="advantage-info">
          <div class="info-title clearfix">
            <img src="../../assets/images/5@2x.png" class="fl"><h4 class="advantage-info-title fl">钥匙托管</h4>
          </div>
          <p class="advantage-info-content">可以把钥匙托管给安家，在您繁忙时，我们能帮您带客看房，免去您往返奔波的辛苦。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
