/*头部-----------------------*/
.yz-banner {
  width: 100%;
  height: 240px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 26px;
  position: relative;
  margin: 0 auto;
  background: url(../../assets/images/head_img.png) no-repeat top;
}
.yz-banner .nav {
  height: 31px;
  /*width: 1150px;*/
  margin: 0 auto;
}
.yz-banner .housetype-tag {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  margin-left: 14px;
  /*float: left;*/
  height: 26px;
  padding: 0 14px;
  border-radius: 2px;
  background-color: #1aad68;
  color: #fff;
}
.yz-banner .banner-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 47px;
}
.tc {
  text-align: center;
}
/*表单----------------------*/
.span_bottem{
  width: 100%;
  height: auto;
  border-bottom: 2px solid #CDCFD0;
}
.span_bottem span{
  font-size: 2em;
  color: #00AE66;
  border-bottom: 5px solid #00AE66;
  display: inline-block;
  margin-top: 30px;
}
.form-group{
  margin-top: 20px;
}
.form-group button{
  width: 100%;
  height: 60px;
  /*background: #00AE66;*/
  /*color: white;*/
}
input,button{
  border:none;
}
.btn-success[disabled]{
  background-color: #00AE66;
}
/*右边-------------------*/
.yz-advantage {
  /*width: 360px;*/
  margin-left: 36px;
  padding-top: 55px;
}
.advantage-title {
  font-size: 18px;
  line-height: 18px;
  color: #616669;
  font-weight: 700;
}
.advantage-info-content {
  font-size: 13px;
  line-height: 23px;
  color: #9c9fa1;
}
.advantage-info-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #616669;
  margin-left: 8px;
}
/*表单验证css----------------*/
.ng-valid[required], .ng-valid.required{
  border-left: 5px solid #59a956; /* green */

}

.ng-invalid:not(form)  {
  border-left: 5px solid #a9372c; /* red */

}
/*下拉按钮------------------*/
.sel{
  height: 30px;
  width: 200px;
  outline: none;
}
/*switch---------------*/
ul{
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(13,3,9,0.2);
  border-radius: 2px;
  padding: 0;
}
li{
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
li a{
  display: inline-block;
  width: 138px;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  text-align: center;
  position: relative;
  text-decoration: none;
}
.go{
  color: #ffffff;
  background-color: #39ac6a;
}


#preview{
  width: 200px;
  height: 190px;
  margin-left: 30%;
  margin-top: 180px;
  border: 1px solid lightgrey;
  position: relative;
  top: -200px;
  overflow: hidden;
  /*background-color: #9c9fa1;*/
}
#preview img{
  margin: 50px 60px;
  height: 1000%;
  width: 100%;
  object-fit: cover;
}

/*上传身份证-----------------------*/
.upload{
  width: 753px;
  height: 485px;
  /*background-color: red;*/
}
.div1{
  float: left;
  /*width: 753px;*/
  height: 41px;
  background-color: #00b86b;
  color: white;
  width: 200px;
  position:relative;
  border-radius:5px;
  font-size: 20px;
  margin-left: 30%;
  top: -150px;
  text-align: center;
}


#upimg{
  text-align: center;
}
.info{
  /*position: relative;*/
  border-radius:5px;
}
.div2{
  color: white;
  text-align:center;
  padding-top:12px;
  font-size:15px;
  font-weight:800;
  /*margin: 20px;*/
}
/*.inputstyle{*/
/*!*margin: 20px;*!*/
/*width: 144px;*/
/*height: 41px;*/
/*cursor: pointer;*/
/*font-size: 30px;*/
/*outline: medium none;*/
/*position: absolute;*/
/*filter:alpha(opacity=0);*/
/*-moz-opacity:0;*/
/*opacity:0;*/
/*left:0px;*/
/*top: 0px;*/
/*}*/
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
/*、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、*/
body, h1{
  margin:0;
  padding:0;

}
#publish_top h2{
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  font-size: 20px;
  color: #2c3e50;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
}
#main_contain{
  width:100%;
  height: 800px;
  background-color:#F5F5F5;
}
#publish_item{
  height: 305px;
}
#publish_item,#publish_second{
  width: 960px;
  font-size: 14px;
  color: #2c3e50;
  background: #fff;
  margin:0 auto;
  position: relative;
  top: 20px;
}
.item_title{
  color: #30c3a6;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #eeeeee;
  font-weight: bold;
  padding-left: 25px;
  font-size: 14px;
}
.item_inner p{
  line-height: 62px;
  margin-top: 7px;
  margin-left: 25px;
  font-size: 15px;
}
.input_wrap{
  height: 40px;
  margin-bottom: 30px;
}
.input_title{
  display: inline-block;
  width: 74px;
  color: #959ea7;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: top;
  line-height: 40px;
  margin-left: 25px;
  font-size: 14px;
  padding-top: 10px;
}

.input_mod{
  width: 282px;
  height: 38px;
  border: 1px solid #d1d1d1;
  color: #2c3e50;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-left: 30px;
}
#publish_second{
  height: 360px;

}
#sfzupload_file{
  width: 500px;
  height: 350px;
  display:block;
  border: 1px solid lightgrey;
  /*margin-left: 25px;*/
  position: relative;
  z-index:2;
  opacity:0;
  overflow: hidden;
}
#upload_file{
  width: 200px;
  height: 200px;
  margin-left: 30%;
  margin-top: 50px;
  display:block;
  border: 1px solid lightgrey;
  /*margin-left: 25px;*/
  position: relative;
  z-index:2;
  opacity:0;
  overflow: hidden;
}
#preview{
  /*width: 200px;*/
  /*height: 190px;*/
  margin-left: 30%;
  margin-top: 50px;
  border: 1px solid lightgrey;
  position: relative;
  top: -200px;
  overflow: hidden;
  background: url("http://owhah4u2f.bkt.clouddn.com/addpic.png") no-repeat;
  background-position: 30px 0px;
  /*background-size:100% 100%;*/

  /*background-color: #9c9fa1;*/
}
#preview img{
  margin: 50px 60px;
  height: 1000%;
  width: 100%;
  object-fit: cover;
}
#sfzpreview{
  width: 500px;
  height: 350px;
  margin-top: -130px;
  border: 1px solid lightgrey;
  position: relative;
  top: -200px;
  overflow: hidden;
background: url("../../assets/images/sfzcard.png") no-repeat;

}
#sfzpreview img{
margin: 0 auto;
  width: 500px;
  height: 350px;
  object-fit: cover;

}
.fitcss{
  width:100%;
  height:100%;
  object-fit: cover;
}
/*/////////////////////////////////////////新加图片样式*/


