

<div class=" row myfooter col-md-12"  >
<!--下方脚步标签-->

<div class="footer-nav  col-md-6   col-md-offset-3" >

  <ul >
    <li ><a href="#">关于安家网</a> <span class="footer-line">|</span></li>
    <li ><a href="#">联系我们</a><span class="footer-line">|</span></li>
    <li ><a href="#">用户协议</a><span class="footer-line">|</span></li>
    <li ><a href="#">友情链接</a><span class="footer-line">|</span></li>
    <li><a href="#">渠道招商</a></li>
  </ul>

</div>
  <br>
  <br>
  <br>
<!--页脚的信息-->
  <div class="footer-information row" >
    <br>
    <p class="col-md-12 col-sm-12 col-xs-12"> 安家网（地球）科技有限公司 | 网络经营许可证 京ICP备16057509号-2</p>
    <p class="col-md-12 col-sm-12 col-xs-12">  © Copyright©2010-2017 安家网Anjia.com版权所有</p>
    <p class="col-md-12 col-sm-12 col-xs-12"><img src="http://owhah4u2f.bkt.clouddn.com/gonganbeianicon.png" alt="">京公网安备 110110110110110号</p>
  </div>

</div>




