<div style="background-color: #f2f2f3">
  <div class="container" >
    <div class=" house-list"  >

      <div class="row house-list-title col-md-12 col-lg-12 col-sm-12" >
        <h2 class="col-md-10">更多好房，为你而选</h2>
        <span class="col-md-2" style="margin-top: 40px"><a href="/houses">更多在租房>></a></span>
      </div>
      <div class="row" id="out-house-style"  >

        <div class="col-lg-3" id="house-setting" *ngFor="let house of new_houses;">

          <a href="">
            <div href="#" class="thumbnail" id="houses-style"  >

              <img src="http://owhah4u2f.bkt.clouddn.com/images/houseLogo/{{house.houseId}}.jpg" alt="">
              <span class="house-list price">{{house.housePrice}}/月</span>
              <div class="caption">
                <a href="">

                  <h4>{{house.houseName}}</h4>
                </a>
                <p> {{i}}星河西区 三室一厅 <span>{{house.area}}m<sup>2</sup></span></p>

              </div>



            </div>
          </a>
        </div>
      </div>

    </div></div>
</div>
