<!--<div style="background-color: #f2f2f3">-->
  <!--<div class="container" >-->
    <!--<div class=" house-list"  >-->

      <!--<div class="row house-list-title col-md-12 col-lg-12 col-sm-12" >-->
        <!--<h2 class="col-md-10">更多好房，为你而选</h2>-->
        <!--<span class="col-md-2" style="margin-top: 40px"><a href="/houses">更多在租房>></a></span>-->
      <!--</div>-->
      <!--<div class="row" id="out-house-style"  >-->

        <!--<div class="col-lg-3" id="house-setting" *ngFor="let house of new_houses;">-->

          <!--<a href="">-->
            <!--<div href="#" class="thumbnail" id="houses-style"  >-->

              <!--<img src="http://owhah4u2f.bkt.clouddn.com/images/houseLogo/{{house.houseId}}.jpg" alt="">-->
              <!--<span class="house-list price">{{house.housePrice}}/月</span>-->
              <!--<div class="caption">-->
                <!--<a href="">-->

                  <!--<h4>{{house.houseName}}</h4>-->
                <!--</a>-->
                <!--<p> {{i}}星河西区 三室一厅 <span>{{house.area}}m<sup>2</sup></span></p>-->

              <!--</div>-->



            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div></div>-->
<!--</div>-->
<!--/////////////////////////////////////////////////////////////////////-->
<div class="jeeok-container" style="background-color: rgba(255,255,255,0.69)">
  <div class="container gallery-container">

    <h1>轻松租房</h1>

    <p class="page-description text-left">好房源那么多，我们为你精选，安家网会越来越懂你</p>

    <div class="tz-gallery">

      <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-3 col-xs-12" *ngFor="let house of new_houses;">
          <div class="thumbnail">
            <a class="lightbox" href="../../assets/images/park.jpg">
              <img src="../../assets/images/sky.jpg" alt="Park">
            </a>
            <div class="caption" style="background-color: white">

              <p style="color: black">{{house.areaName}}</p>

              <p style="color: black">{{ house.address}}</p>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>
