.btn-login{
  width: 300px;
  height: 50px;
  margin-left: 35px;

}
#form-control{
  margin-top: 35px
}

#yzm-register{
  margin-left: 308px;
}

.btn-register{
  width: 300px;
  height: 50px;
  margin-left: 110px;
}

.form-group{
  margin-top: 20px;
}
#tel-input{
  position: relative;
}
.tel-yzm{
  position: absolute;
  margin-top: -32px;
  margin-left: 500px;
  width: 90px;
  height: 30px;
}
*{
  margin: 0;
  padding: 0;
}
