
/*//////////////////////////////////////////////////*/


@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 640px) and (max-width: 1000px) {

  #top-left-img{
    display: none;
  }
  .toutiao-left{
    height: 400px;
    border-right: none;
    box-sizing: border-box;

  }
}

@media screen and (max-width: 640px) {


  .toutiao-left{
    height: 400px;
    box-sizing: border-box;

  }

}



/*/////////////////////////////////////////////////////////*/

.toutiao{
  width: 100%;
  height: 540px;
  margin: 0px auto;
  background-color: rgb(253, 253, 253);
}
.toptitle{

  font-family: Lucida Family;

}

.toutiao-left{
  height: 400px;
  border-right: 2px solid rgba(0, 0, 0, 0.37);
  box-sizing: border-box;

}
.toutiao-right{
  height: 400px;
}
.toutiao-right>div{
  border-radius: 5px;
}

.toutiao-right img{
  border-radius: 5px;
}
.text-right a:hover{
  text-decoration: none;
}

.toutiao-right img{
  width: 345px;height: 190px;
  margin-top: 10px;
}
.toutiao-right img:hover{
  width: 355px;height: 200px;
  margin-top: 10px;
}


.lunbo{
  width: 100%;
  height: 400px;
  border-radius: 10px;

}
.lunboimg img{
  width: 790px;
  height: 400px;
  border-radius: 10px;
}

/*房屋列表*/
/*红色房子背景视差*/
.middlebg{
  width: 100%;
  height: 660px;
  z-index: -4;
  background:url("../../../assets/images/bigbg2.png");
  background-size: 100%;
  background-attachment: fixed;

}

