


#form-control{
  margin-top: 35px
}

#yzm-register{
  margin-left: 308px;
}

.btn-register{
  width: 380px;
  height: 50px;
  margin-top: 10px;


}

.form-group{
  margin-top: 20px;
}
#tel-input{
  position: relative;
}
.tel-yzm{
  position: absolute;
  margin-top: -40px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
*{
  margin: 0;
  padding: 0;
}
.form-group{
  width: 380px;
  margin: 0 auto;
  margin-top: 10px;
}

.alert-danger{
  line-height: 20px;
  width: 380px;
  height: 20px;
  margin: 0 auto;
}

#yzm-register{
  width: 100px;
  margin-left: 270px;
}
