<div class="rent1">
  <div class="pic"><img src="../../../assets/personal-center/记录.jpg"/></div>
  <div class="info">
    <h3 style="float: left;color: #00B7FF">建屋海德公园，房型正气，地铁沿线，安家好房</h3>
    <div>
      <!--style="float: left;height: 97px;width: 324px"-->
      <span>建屋海德公园</span><span>4室2厅</span><span>143.24平</span><span>朝南北</span>
      <p style="color: #999999">工业园区 独墅湖高教区 | 中层/18层 | 2016年建</p>
    </div>
    <div >
      <span style="color: #E4393C;font-size: 30px"><strong>6000</strong></span>
      <span style="color:  #E4393C;font-size: 20px">元/月</span>
    </div>
  </div>

</div>
