.left{
  float: left;
  font-size: 20px;
  margin-left: 200px;
  margin-top: 63px;
  color: rgba(0, 0, 0, 0.9);
}
.right{
  float: left;
  margin-top: 50px;
}
input{
  width: 248px;
  height: 39px;
  margin: 8px;
}
button{
  width: 248px;
  height: 39px;
  background-color: #4FAC6A;
  color: white;
  margin: 10px;
}
form input{

  outline: none;
border-bottom: 1px solid seagreen;
}
