<div class="left">
  <span>输入旧密码：</span>
  <br><br>
  <span>输入新密码：</span>
  <br><br>
  <span>确认新密码：</span>
</div>
<div class="right">
  <form  #passForm="ngForm">
    <input type="text" #password="ngModel" [(ngModel)]="_password" id="password" name="password" placeholder="输入密码">
    <br>
    <input type="password" #newPass="ngModel" [(ngModel)]="_newPass" id="newPass" name="newPass" placeholder="输入新密码">
    <br>
    <input type="password" #conformpass="ngModel" [(ngModel)]="_conformpass" id="conformpass" name="conformpass" placeholder="确认新密码">
    <br>
    <button (click)="editPass(passForm)">保存修改</button>
  </form>

</div>

