
<div class="wrapper" style="background-color: #3e5871;height: 100%">
  <div class="zombie">
    <div class="zombie__head">
      <div class="zombie__brain"></div>
      <div class="zombie__cheeks"></div>
      <div class="zombie__chin"></div>
      <div class="zombie__eyes">
        <div class="eye left">
          <div class="eyebrow"></div>
        </div>
        <div class="eye right">
          <div class="eyebrow"></div>
        </div>
      </div>
      <div class="zombie__nose"></div>
      <div class="zombie__mouth">
        <div class="tooth">
          <div class="tooth__top"></div>
          <div class="tooth__bottom"></div>
        </div>
      </div>
    </div>
    <div class="zombie__body">
      <div class="zombie__chest">
        <div class="zombie__arms">
          <div class="arm left">
            <div class="arm__bone"></div>
            <div class="arm__sleeve"></div>
          </div>
          <div class="arm right">
            <div class="arm__details">
              <div class="arm__biceps"></div>
              <div class="arm__forearm"></div>
              <div class="hands">
                <div class="fingers">
                  <div class="finger thumb"></div>
                  <div class="finger middle"></div>
                  <div class="finger index"></div>
                  <div class="finger ring"></div>
                  <div class="finger pinky"></div>
                </div>
              </div>
            </div>
            <div class="arm__sleeve"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ground">
    <div class="ground__hole"></div>
    <div class="ground__rocks">
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
      <div class="rock"></div>
    </div>
    <div class="tomb" style="position: relative;left: 60%">
      <div class="tomb__info">
        <h1 class="headers">脑子</h1>
        <h4 class="headers">"爱是一道光，绿的发慌。"</h4>
        <h5 class="headers">你能找到这说明你没脑子</h5>
      </div>
    </div>
    <div class="brains-comic-box">
      <h1 class="brains__text">404!找不到脑子！</h1>
    </div>
  </div>
</div>

