*{
    margin:0;
    padding: 0;
}

.logo{
    background-image: url("../images/logo1.png");
    background-repeat: no-repeat;
    background-size:70px 60px;
    background-position:left;
}
.navbar-collapse ul li a{
    color: white;
}
.navbar-collapse ul li a:hover{
   background-color: rgba(0, 0, 0, 0.63);
}
.logo-text{
    font-size: 25px;
    font-weight: normal;

}
.nav-lvju img{
   width: 20px;
}
#dropdown_menu{
min-width: 35px;
   opacity: 0.6;
    margin-top: 2px;
    margin-right: -1px;
    color: #080808;
    border: none;
    font-size: 16px;
    font-weight: normal;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


