li{
  float: left;

  list-style: none;
  width: 70px;
  box-sizing: border-box;
  text-align: center;
}

li:hover{
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
}

li a:hover{
  text-decoration: none;
  display: inline-block;
}
a{

  font-size: 15px;
  color: white;
  display: block;
}

a:hover{
  color: white;
  display: block;
  text-decoration: none;
}

.container{
  width: 100%;
  overflow-x:hidden;

}
#nav{
   margin:  0 auto;
  line-height: 48px;
  height: 48px;
}

#person{
  float: right;
  height: 45px;
  line-height: 45px;
  margin-right: 150px;
}
#person span{
  margin-left: 20px;
}

.user_icon{
  height:30px;
  width:30px;
  margin-left: 20px;
  float: right;
}
.user_icon img{
  height:30px;
  width:30px;
  border-radius: 15px
}
/*////////////////////////////////////////////*/

#lgrg{
  width: 135px;
  position: absolute;
  right: 10px;

}

/*#lgrg img{*/
/*background: url("../assets/images/lgrg1.svg");*/
/*}*/
/*#lgrg img:hover{*/
  /*background: url("../assets/images/lgrg3.svg");*/
/*}*/
.fa-user-circle{

}
.fa-user-circle:hover{
color: #222222;
}

