.active{
  text-decoration: none;
  background: #222222;

}
.container{
  width: 100%;
  overflow-x:hidden;
}
#nav{
  margin-left: 50px;
}
li{
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  list-style: none;
}
a{
  color: white;
}
#person{
  float: right;
  margin-right: 150px;
}
#person span{
  margin-left: 20px;
}
