<!--The content below is only a placeholder and can be replaced.-->
<div class="container" >
  <nav class="row" *ngIf="!_hiddenNavs">
    <div class="col-md-12 col-lg-12"style="background-color: #3D424D;height: 40px">
      <!--<a [routerLink]="['/index','我是默认值']" routerLinkActive="active" >首页</a>-->
      <ul>
      <li><a routerLink='/index' routerLinkActive="active" >首页</a></li>
      <li><a routerLink="/search" routerLinkActive="active">搜索</a></li>
      <li><a routerLink="/houses" routerLinkActive="active">租房</a></li>
        <li><a routerLink="/owner" routerLinkActive="active">业主</a></li>
      <li><a  routerLink="/personal-center" routerLinkActive="active">个人中心</a></li>
        <li style="margin-left: 780px"><a  routerLink="/login" routerLinkActive="active">登录</a></li>
      <li><a  routerLink="/register" routerLinkActive="active">注册</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet #outlet></router-outlet>
  </div>
</div>

