<div cldiv="list-wrap">
  <ul  class="house-list">
    我的预约
    <li *ngFor="let house of houses | status: 0">
      <app-test-list-item [house]="house"></app-test-list-item>
      <div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecord(house.houseId)" height="30" width="30"></div>
    </li>
  </ul>
  <ul class="house-list">
    <li *ngFor="let house of houses | status: 1">
      <app-test-list-item [house]="house"></app-test-list-item>
      <div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecord(house.houseId)" height="30" width="30"></div>
    </li>
  </ul>
  <ul  class="house-list">
    <li *ngFor="let house of houses | status: 2">
      <app-test-list-item [house]="house"></app-test-list-item>
      <div class="del"><img src="http://owhah4u2f.bkt.clouddn.com/delete.png" (click)="delRecord(house.houseId)" height="30" width="30"></div>
    </li>
  </ul>
</div>
