/*租房导航-----------------*/

.nav-zufang{
  padding: 18px 10px 12px 26px;
  background: #fff;
  font-size: 12px;
  position: relative;
  border-top: 3px solid  #39ac6a;
}
dl {
  padding-bottom: 5px;
}
.dl-lst dt {
  width: 42px;
  overflow: hidden;
  float: left;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  margin-right: 6px;
  font-weight: 700;
}
.dl-lst dd a.on {
  color: #39ac6a;
  font-weight: 700;
}
.dl-lst dd a.nolimit {
  width: 42px;
  padding: 0;
  float: left;
  display: block;
}
.dl-lst dd a {
  padding: 10px 7px 15px;
  height: 27px;
  line-height: 27px;
  color: #333;
  font-size: 12px;
}
.dl-lst dd .item-list {
  float: left;
}
.dl-lst dd .item-list a {
  width: 110px;
  display: block;
  float: left;
  padding: 0;
  font-weight: normal;
}
.custom {
  display: inline-block;
  /*zoom: 1;*/
  vertical-align: middle;
  padding-bottom: 1px;
}
/*.txt-box {*/
  /*width: 48px;*/
  /*border: 1px solid #e3e3e3;*/
  /*border-radius: 2px;*/
  /*position: relative;*/
  /*float: left;*/
/*}*/
/*.txt {*/
  /*display: block;*/
  /*border: 0 none;*/
  /*width: 36px;*/
  /*padding: 2px 6px;*/
  /*text-align: left;*/
  /*color: #333;*/
  /*height: 18px;*/
  /*line-height: 18px;*/
  /*font-size: 12px;*/
/*}*/
/*input{*/
  /*outline: none;*/
/*}*/

/*.bg-red{*/
  /*background: red;*/
/*}*/
