.search{
  height: 60px;
  padding-top: 13px;
}
.zufang {
  background-color: #1AAD68;
  color: white;
  width: 57px;
  height: 26px;
  line-height: 25px;
  font-size: 14px;
  padding: 0 14px;
  margin: 3px 0 0 12px;
  border-radius: 2px
}

.introduce{
  height: 34px;
  line-height: 34px;
  background: #f1f1f1;
  clear: both;
}
.but{
  background: #39ac6a;
  color: white;
  font-size: 1.2em;
  border: none;
  width: 120px;
  height: 47px;
  line-height: 47px;
  text-align: center;
}
.bg{
  background-color: #F1F1F1;
  border-top: solid 1px gainsboro;
}


/*房屋排序-------------------*/
.main-box {
  margin-top: 15px;
  position: relative;
}
.clear{
  display: block;
}
.con-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.con-box .list-head {
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 26px;
  background: #fff;
}
.modeshows {
  float: left;
}
.l-show {
  color: #39ac6a;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}


