
<div class="search col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
  <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5"><span class="zufang">租房</span></div>
  <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
    <app-house-search  #search></app-house-search>
  </div>
</div>

<div class="bg col-md-12 col-lg-12">
  <div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
    <div class="introduce"></div>

    <div class="but">全部租房</div>

    <app-house-nav #houseNav></app-house-nav>



    <div class="main-box clear">
      <div class="con-box">
        <div class="list-head clear">
          <div class="modeshows">
            <span class="l-show view-mod">实景图模型</span>
          </div>
        </div>
        <app-house-list [searchText]="search._stext" [quyuText]="houseNav._quyu" [zujinText]="houseNav._zujin" [mianjiText]="houseNav._mianji" [zujinxiaoText]="houseNav._zujinxiao"></app-house-list>
      </div>

    </div>
  </div>

</div>
<app-footer></app-footer>
