
<div class="search col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
  <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5"><span class="zufang">租房</span></div>
  <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default search-button" type="button">搜索</button>
      </span>
    </div>
  </div>
</div>

<div class="bg col-md-12 col-lg-12">
  <div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
    <div class="introduce"></div>

    <div class="but">全部租房</div>
    <div class="nav-zufang">
      <dl class="dl-lst clear">
        <dt title="">区域:</dt>
        <dd>
          <div class="option-list">
            <a href="" class="nolimit on">不限</a>
            <a href="">高新</a>
            <a href="">姑苏</a>
            <a href="">吴中</a>
            <a href="">工业园区</a>
            <a href="">吴江</a>
            <a href="">常熟</a>
            <a href="">太仓</a>
            <a href="">昆山</a>
            <a href="">相城</a>
            <a href="">张家港</a>
          </div>
        </dd>
      </dl>
      <dl class="dl-lst clear">
        <dt title="">租金:</dt>
        <dd>
          <div class="option-list">
            <a href="" class="nolimit on">不限</a>
            <div class="item-list">
              <a href="">1000-2000元</a>
              <a href="">2000-4000元</a>
              <a href="">4000-6000元</a>
              <a href="">6000-8000元</a>
              <a href="">8000-12000元</a>
              <a href="">12000元以上</a>
            </div>
            <div class="custom">
              <div class="txt-box">
                <input type="text" class="txt" name="min_price" value placeholder="最小" maxlength="8">
              </div>
              <div class="txt-box">
                <input type="text" class="txt" name="max_price" value placeholder="最大" maxlength="8">
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="dl-lst clear">
        <dt title="">面积:</dt>
        <dd>
          <div class="option-list">
            <a href="" class="nolimit on">不限</a>
            <div class="item-list">
              <a href="">50平以下</a>
              <a href="">50-70平</a>
              <a href="">70-90平</a>
              <a href="">90-110平</a>
              <a href="">110-150平</a>
              <a href="">150平以上</a>
            </div>
            <div class="custom">
              <div class="txt-box">
                <input type="text" class="txt" name="min_price" value placeholder="最小" maxlength="8">
              </div>
              <div class="txt-box">
                <input type="text" class="txt" name="max_price" value placeholder="最大" maxlength="8">
              </div>
            </div>
          </div>
        </dd>
      </dl>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">排序:</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">默认<span class="sr-only">(current)</span></a></li>
            <li><a href="#">最新</a></li>
            <li class="dropdown">
              <a href="/houses" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">租金 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="main-box clear">
      <div class="con-box">
        <div class="list-head clear">
          <div class="modeshows">
            <span class="l-show view-mod">实景图模型</span>
          </div>
        </div>
        <div class="list-wrap">
          <ul id="house-list" class="house-list">
            <li *ngFor="let house of houses" (click)="toHouseDetail(house.houseId)">
              <div class="lidiv">
              <div class="pic-panel">
                <a href=""><img src="../../assets/images/IMG_2195.JPG"/></a>
              </div>
              <div class="info-panel">
                <h2><a href=" ">{{house.houseName}}</a></h2>
                <div class="where">
                  <span>{{house.areaName}}&nbsp;&nbsp;</span>
                  <span>{{house.room}}室{{house.livingroom}}厅&nbsp;&nbsp;</span>
                  <span>{{house.area}}平&nbsp;&nbsp;</span>
                </div>
                <div class="other">
                  {{house.areaName}}
                </div>

              </div>
              <div class="renting">
                <span class="renting-money">{{house.housePrice}}</span>元／月
                <br>
                <span class="view-people">4</span>人看过此房
              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
