<div class="search col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
  <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5"><span class="zufang">租房</span></div>
  <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default search-button" type="button">搜索</button>
      </span>
    </div>
  </div>
</div>

<div class="bg col-md-12 col-lg-12">
  <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
    <div class="introduce">  链家网苏州站 >  苏州租房 >  姑苏租房 >  平江新城租房 >  仲雅苑北区小区租房 >  当前房源</div>

    <div style="height: 130px;background-color: #FCFCFC;border: 1px solid #ebebeb;">实地看房，钥匙在店，空气清新，上门实拍</div>
    <div class="details">
      <div class="lunbo"></div>
      <div class="detail">
        <div class="houseInfo">
          <div class="prices"><span>3300</span>元/月</div>
          <div class="room"><span>3</span>室<span>2</span>厅</div>
          <div class="area"><span>92</span>平</div>
        </div>
        <table class="aroundInfo">
          <tr>
            <td class="title" nowrap>楼层：</td>
            <td width="50%">中区/11层</td>
            <td class="title" nowrap>朝向：</td>
            <td width="50%">朝南</td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
        </table>
        <div class="owner"></div>
        <div class="startTime"></div>
      </div>
    </div>




  </div>

</div>
