<!--<div class="search col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">-->
  <!--<div class="col-md-5 col-lg-5 col-sm-5 col-xs-5"><span class="zufang">租房</span></div>-->
  <!--<div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">-->
    <!--<app-house-search></app-house-search>-->
  <!--</div>-->
<!--</div>-->

    <!--<div class="introduce"> 链家网苏州站 > 苏州租房 > 姑苏租房 > 平江新城租房 > 仲雅苑北区小区租房 > 当前房源</div>-->

    <!--<div style="height: 130px;text-align: center;background-color: #FCFCFC;border: 1px solid #ebebeb">-->
      <!--<h2 style="white-space: nowrap;margin-top: 40px">{{house.houseName}}</h2>-->
    <!--</div>-->



      <div class="lunbo" >
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img style="height: 550px;width: 100%" src="http://owhah4u2f.bkt.clouddn.com/images/houses/{{house.houseId}}/1.jpg?imageView2/1/w/1520/h/550/format/jpg/q/75|imageslim
"  alt="...">
              <div class="carousel-caption">
                客厅
              </div>
            </div>
            <div class="item">
              <img style="height: 550px;width: 100%" src="http://owhah4u2f.bkt.clouddn.com/images/houses/{{house.houseId}}/2.jpg?imageView2/1/w/1520/h/550/format/jpg/q/75|imageslim
" alt="...">
              <div class="carousel-caption">
                卧室
              </div>
            </div>
            <div class="item">
              <img style="height: 550px;width: 100%" src="http://owhah4u2f.bkt.clouddn.com/images/houses/{{house.houseId}}/3.jpg?imageView2/1/w/1520/h/550/format/jpg/q/75|imageslim
"  alt="...">
              <div class="carousel-caption">
                卧室
              </div>
            </div>
            <div class="item">
              <img style="height: 550px;width: 100%" src="http://owhah4u2f.bkt.clouddn.com/images/houses/{{house.houseId}}/4.jpg?imageView2/1/w/1520/h/550/format/jpg/q/75|imageslim
"  alt="...">
              <div class="carousel-caption">
                卧室
              </div>
            </div>
            <div class="item">
              <img style="height: 550px;width: 100%" src="http://owhah4u2f.bkt.clouddn.com/images/houses/{{house.houseId}}/5.jpg?imageView2/1/w/1520/h/550/format/jpg/q/75|imageslim
"  alt="...">
              <div class="carousel-caption">
                卧室
              </div>
            </div>

          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!--<img src="http://owhah4u2f.bkt.clouddn.com/images/houses/1/1.jpg" width="100%" height="100%" alt="">-->
      </div>

<div class="bg col-md-12 col-lg-12" style="margin-bottom: 20px">


    <!--<ul>-->
      <!--<li><a href="#section1" [class.on]="tab_index==1" (click)="tab_index=1">周边配套 </a></li>-->
      <!--<li><a href="#section2" [class.on]="tab_index==2" (click)="tab_index=2">看房记录 </a></li>-->
      <!--<li><a href="#section3" [class.on]="tab_index==3" (click)="tab_index=3">相似房源 </a></li>-->

    <!--</ul>-->
  <div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">


    <div class="details col-lg-12 col-md-12">
      <div class="detail col-lg-8 col-md-8">

        <div style="height: 80px;text-align: center">
          <h2 style="margin-top: 10px">{{house.houseName}}</h2>
        </div>

        <div class="houseInfo">
          <div class="prices"><span>{{house.housePrice}}</span>元/月</div>
          <div class="room"><span>{{house.room}}</span>室<span>{{house.livingroom}}</span>厅</div>
          <div class="area"><span>{{house.area}}</span>平</div>
        </div>

        <table class="aroundInfo">
          <tr>
            <td colspan="4"><h3>房屋信息</h3></td>
          </tr>
          <tr>
            <td class="title" nowrap>楼层：</td>
            <td width="50%">{{house.floor}}层</td>
            <td class="title" nowrap>朝向：</td>
            <td width="50%">{{house.aspect}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>区域：</td>
            <td width="50%">{{house.areaName.slice(0,2)}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>小区：</td>
            <td colspan="3">{{house.areaName.slice(2)}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>地址：</td>
            <td colspan="3">{{house.address}}</td>
          </tr>
        </table>


        <table class="aroundInfo">
          <tr>
            <td colspan="4"><h3>房屋简介</h3></td>
          </tr>
          <tr>
            <td class="title" nowrap>客厅：</td>
            <td width="50%">{{house.livingroom}}</td>
            <td class="title" nowrap>房间类型：</td>
            <td width="50%">整套房子/公寓</td>
          </tr>
          <tr>
            <td class="title" nowrap>卫生间：</td>
            <td width="50%">{{house.bathroom}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>卧室：</td>
            <td colspan="3">{{house.room}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>厨房：</td>
            <td colspan="3">{{house.kitchen}}</td>
          </tr>
        </table>

        <table class="aroundInfo">
          <tr>
            <td colspan="4"><h3>房间安排</h3></td>
          </tr>
          <tr>
            <td class="title" nowrap><i class="fa fa-bath fa-4x" aria-hidden="true"></i>：</td>
            <td width="50%" style="font-size: large;color: #888;">1个卫生间</td>
            <td class="title" nowrap><i class="fa fa-bed fa-4x" aria-hidden="true"></i>：</td>
            <td width="50%" style="font-size: large;color: #888;">{{house.room}}个卧室</td>
          </tr>
          <tr>
            <td class="title" nowrap></td>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td class="title" nowrap><i class="fa fa-television fa-4x" aria-hidden="true"></i>：</td>
            <td width="50%" style="font-size: large;color: #888;">1个客厅</td>
            <td class="title" nowrap><i class="fa fa-cutlery fa-4x" aria-hidden="true"></i>：</td>
            <td width="50%" style="font-size: large;color: #888;">1个厨房</td>
          </tr>
          <tr>
            <td class="title" nowrap></td>
            <td colspan="3"></td>
          </tr>
        </table>

        <table class="aroundInfo">
          <tr>
            <td colspan="4"><h3>便利设施</h3></td>
          </tr>
          <tr>
            <td class="title" nowrap><i class="fa fa-users fa-4x" aria-hidden="true"></i>：</td>
            <td width="50%" style="font-size: large;color: #888;">欢迎家庭/儿童入住</td>
          </tr>
          <tr>
            <td class="title" nowrap></td>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td class="title" nowrap><i class="fa fa-internet-explorer fa-4x" aria-hidden="true"></i>：</td>
            <td width="50%" style="font-size: large;color: #888;">网络</td>
            <td class="title" nowrap><i class="fa fa-shower fa-4x" aria-hidden="true"></i>：</td>
            <td width="50%" style="font-size: large;color: #888;">热水供应</td>
          </tr>
          <tr>
            <td class="title" nowrap></td>
            <td colspan="3"></td>
          </tr>
        </table>

        <table class="aroundInfo">
          <tr>
            <td colspan="4"><h3>房屋守则</h3></td>
          </tr>
          <tr>
            <td colspan="4" class="title" nowrap>禁止吸烟 / No smoking</td>
          </tr>
          <tr>
            <td colspan="4" class="title" nowrap>不适合携带宠物入住 / It is not suitable to carry the pet to move in</td>
          </tr>
          <tr>
            <td colspan="4" class="title" nowrap>不允许举办派对和活动 / Does not allow to conduct sends to with the activity</td>
          </tr>
        </table>

        <table class="aroundInfo">
          <tr>
            <td colspan="4"><h3>安全设施</h3></td>
          </tr>
          <tr>
            <td colspan="4" class="title" nowrap>烟雾报警器 / Smoke eye</td>
          </tr>
        </table>

        <!--<div class="owner">-->
        <!--<span>张三</span>-->
        <!--<br>-->
        <!--<span style="color: red">18861886666</span>-->
        <!--</div>-->
        <div class="startTime">
          上传时间：<span>{{house.publishTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
      </div>
      <div class="yezhuright col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1" id="yezhuright">
        <div style="height: 50px" >
          <span style="font-size: 40px">{{house.housePrice}}</span>元/月
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-size: 40px">{{house.area}}</span>平
        </div>
        <h2 *ngIf="islogin1" style="color: red;margin-top: 20px">房主信息必须登录后才能查看</h2>
        <div style="margin-top: 10px" *ngIf="islogin" id="denglu">
          <div style="float: left">
            <img style="margin-top: 10px;height: 80px;width: 80px" src="http://owhah4u2f.bkt.clouddn.com/images/user/{{house.ownerId}}.jpg" alt="">
          </div>
          <div style="float: left;height: 80px;margin-top: 10px;">
            <span style="color: #4F5253;font-size: 30px">{{house.ownerName}}</span>
            <br>
            <span style="color: #4F5253;font-size: 30px">{{house.telphone}}</span>
          </div>
        </div>


        <button style="margin-top: 30px;outline: none" type="button" class="btn btn-success shoucang" (click)="collect()"><i class="fa fa-heart-o" aria-hidden="true"></i><span id="shou">收藏此房</span></button>
        <div style="margin-top: 170px;border-top: 1px solid #DCE0E0">
          <div>这个房源是很多人的心仪之所。</div>
          <div>过去一周浏览量超过500次。</div>
        </div>
      </div>
    </div>

<!--地图&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <div style="height: 500px;margin-top: 20px;box-shadow: 0 1px 3px rgba(13,3,9,0.2); position: relative;
" class="col-lg-12 col-md-12">

      <!--////////////////地图////////////////////////-->
<div class="gaodemap">
      <div id="container" style="  border-radius: 15px;">
      </div>

      <div id="panel"> </div>
       <div id="tip"></div>
</div>

      <!--///////////////////////////////////////-->



    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <ul>
          <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
          <!--<li role="presentation"><a href="#">Profile</a></li>-->
          <!--<li role="presentation"><a href="#">Messages</a></li>-->
          <li *ngFor="let item of arr_li;let first=first;let index=index" ><a style="cursor: pointer" [class.on]="tab_index==index" (click)="tab_index=index" >{{item}}</a></li>
        </ul>
        <div [ngSwitch]="tab_index">
          <div *ngSwitchCase="0" id="section1" style="height: 390px;box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
               class="container-fluid">


            地图

          </div>
          <div *ngSwitchCase="1" id="section2"
               style="box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
               class="container-fluid">
            <h3>我要评论</h3>
            <div class="user_icon">
              <img  src="http://owhah4u2f.bkt.clouddn.com/images/user/{{userId}}.jpg" alt="">
            </div>
            <textarea id="comment" #comment placeholder="评论..."></textarea>
            <br>
            <button (click)="addArr(comment)">发表评论</button>
            <h3>精彩评论</h3>
            <div style="font-size: 28px" >

              <ul class="user_comment" *ngFor="let user of users" style="border: none;width: 100%;">
                <div class="user_icon">
                  <img  src="http://owhah4u2f.bkt.clouddn.com/images/user/{{user.userId}}.jpg" alt="">
                </div>
                <li class="userName">{{user.userName}}:</li>
                <li class="commentinfo">{{user.comment}}</li>
                <div >
                  <div class="adate">时间 {{user.publishTime| date:'yyyy-MM-dd HH:mm:ss'}}</div>
                  <div class="thumb"><a (click)="agree(user.arrangeId)" class="glyphicon glyphicon-thumbs-up"></a>{{user.agreeNum}}</div>
                </div>
              </ul>

            </div>
          </div>
          <div *ngSwitchCase="2" id="section3"
               style="box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
               class="container-fluid">
            <!--<div style="font-size: 28px;height: 40px">相似房源</div>-->
            <div class="hot-houses row">
            <app-hot-houses></app-hot-houses>
             </div>
          </div>
          <div *ngSwitchDefault="">默认...</div>
        </div>
      </div>
    </div>


  </div>

</div>

<!--<div id="container" style="width:500px;height:300px;border: 1px solid red"></div>-->
<!--<div id="panel"></div>-->
<app-footer></app-footer>
