<div class="search col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
  <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5"><span class="zufang">租房</span></div>
  <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
    <app-house-search></app-house-search>
  </div>
</div>

<div class="bg col-md-12 col-lg-12">
  <div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
    <div class="introduce"> 链家网苏州站 > 苏州租房 > 姑苏租房 > 平江新城租房 > 仲雅苑北区小区租房 > 当前房源</div>

    <div style="height: 130px;text-align: center;background-color: #FCFCFC;border: 1px solid #ebebeb">
      <h2 style="white-space: nowrap;margin-top: 40px">{{house.houseName}}</h2>
    </div>
    <div class="details">
      <div class="lunbo"></div>
      <div class="detail">
        <div class="houseInfo">
          <div class="prices"><span>{{house.housePrice}}</span>元/月</div>
          <div class="room"><span>{{house.room}}</span>室<span>{{house.livingroom}}</span>厅</div>
          <div class="area"><span>{{house.area}}</span>平</div>
        </div>
        <table class="aroundInfo">
          <tr>
            <td class="title" nowrap>楼层：</td>
            <td width="50%">中区/11层</td>
            <td class="title" nowrap>朝向：</td>
            <td width="50%">{{house.aspect}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>区域：</td>
            <td width="50%">{{house.areaName}}</td>
            <td class="title" nowrap>上架：</td>
            <td width="50%">{{house.startTime}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>小区：</td>
            <td colspan="3">{{house.introduce}}</td>
          </tr>
          <tr>
            <td class="title" nowrap>地址：</td>
            <td colspan="3">{{house.address}}</td>
          </tr>
        </table>
        <div class="owner">
          <span>张三</span>
          <br>
          <span style="color: red">18861886666</span>
        </div>
        <div class="startTime">
          上传时间：<span>2017-09-10T16:00:00.000</span>
        </div>
      </div>
    </div>


    <!--<ul>-->
      <!--<li><a href="#section1" [class.on]="tab_index==1" (click)="tab_index=1">周边配套 </a></li>-->
      <!--<li><a href="#section2" [class.on]="tab_index==2" (click)="tab_index=2">看房记录 </a></li>-->
      <!--<li><a href="#section3" [class.on]="tab_index==3" (click)="tab_index=3">相似房源 </a></li>-->

    <!--</ul>-->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <ul>
          <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
          <!--<li role="presentation"><a href="#">Profile</a></li>-->
          <!--<li role="presentation"><a href="#">Messages</a></li>-->
          <li *ngFor="let item of arr_li;let first=first;let index=index" ><a style="cursor: pointer" [class.on]="tab_index==index" (click)="tab_index=index" >{{item}}</a></li>
        </ul>
        <div [ngSwitch]="tab_index">
          <div *ngSwitchCase="0" id="section1" style="height: 390px;box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
               class="container-fluid">
            <div style="font-size: 28px;height: 40px">周边配套</div>
          </div>
          <div *ngSwitchCase="1" id="section2"
               style="box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
               class="container-fluid">
            <h3>我要评论</h3>
            <div class="user_icon">
              <img  src="http://owhah4u2f.bkt.clouddn.com/images/user-icon/2.jpg?imageView2/1/w/40/h/40/format/jpg/q/40|imageslim" alt="">
            </div>
            <textarea id="comment" #comment placeholder="评论..."></textarea>
            <br>
            <button (click)="addArr(comment)">发表评论</button>
            <h3>精彩评论</h3>
            <div style="font-size: 28px" >

                <!--<table class="table table-hover table">-->
                    <!--<tr>-->
                      <!--<td style="color: #00B7FF;font-size: 20px">Desong:</td>-->
                      <!--<td style="font-size: 15px">房东人超级好，长得还帅！！！！！！</td>-->
                      <!--<td style="font-size: 10px;text-align: end">2017-09-17 15:33:29</td>-->
                    <!--</tr>-->
                <!--</table>-->
                  <ul class="user_comment" *ngFor="let user of users" style="border: none;width: 100%;">
                    <div class="user_icon">
                      <img  src="http://owhah4u2f.bkt.clouddn.com/images/user-icon/{{user.userId}}.jpg?imageView2/1/w/40/h/40/format/jpg/q/40|imageslim" alt="">
                    </div>
                      <li class="userName">{{user.userName}}:</li>
                      <li class="commentinfo">{{user.comment}}</li>
                    <div >
                      <div class="adate">时间 {{user.adate| date:'yyyy-MM-dd HH:mm:ss'}}</div>
                      <div class="thumb"><a (click)="agree(user.arrangeId)" class="glyphicon glyphicon-thumbs-up"></a>{{user.agreeNum}}</div>
                     </div>
                  </ul>

            </div>
          </div>
          <div *ngSwitchCase="2" id="section3"
               style="height: 390px;box-shadow: 0 1px 3px rgba(13,3,9,0.2);background-color: white;margin-top: 15px"
               class="container-fluid">
            <div style="font-size: 28px;height: 40px">相似房源</div>
          </div>
          <div *ngSwitchDefault="">默认...</div>
        </div>
      </div>
    </div>


    <!--<nav class="col-sm-2" id="myScrollspy">-->
      <!--<div class="container-fluid">-->
        <!--<div class="container-fluid">-->
          <!--<ul class="nav nav-pills nav-stacked">-->
            <!--<li class="active"><a href="#section1">Section 1</a></li>-->
            <!--<li><a href="#section2">Section 2</a></li>-->
            <!--<li><a href="#section3">Section 3</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</nav>-->


    <div>
      <h1>Section 4-1</h1>
      <p>Try to scroll this section and look at the navigation list while scrolling!</p>
    </div>
    <div id="section42">
      <h1>Section 4-2</h1>
      <p>Try to scroll this section and look at the navigation list while scrolling!</p>
    </div>


  </div>

</div>
<app-footer></app-footer>
