#container{

margin-top: 70px;
  margin-left: 100px;
}

.search{
  height: 60px;
  padding-top: 13px;
}
.zufang {
  background-color: #1AAD68;
  color: white;
  width: 57px;
  height: 26px;
  line-height: 25px;
  font-size: 14px;
  padding: 0 14px;
  margin: 3px 0 0 12px;
  border-radius: 2px
}
.search-button{
  width: 100px;
  border: 1px solid #aa4741;
  border-radius: 2px;
  background: #c7524b;
  color: #fff;
  font-size: 14px;
}
.introduce{
  height: 34px;
  line-height: 34px;
  background: #FCFCFC;
  clear: both;
}
.bg{
  /*background-color: #F1F1F1;*/
  box-sizing: border-box;
  border-top: solid 1px gainsboro;
}

/*xiamian---------------*/
.details{
  height: 1900px;
  padding: 36px;
  border: 1px solid #ebebeb;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(13,3,9,0.2);
}

/*zuo边------------------*/
.detail{
  /*height: 420px;*/
  float: left;
  width: 60%;
  /*background-color: yellow;*/
}
.houseInfo{
  box-sizing: border-box;
  width: 100%;
  height: 82px;
  border: 1px solid #e4e3e3;
  padding: 15px 0;
  background-color: #fcfcfc;
}
.aroundInfo {
  padding: 22px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}
table{
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
.owner{
  font-size: 28px;
  padding: 22px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e3e3;
}
.startTime{
  margin-top: 20px;
  font-size: 12px;
  color: #333333;
  text-align: justify;
}
.prices{
  display: table-cell;
  width: 200px;
  color: #e4393c;
}
.room {
  display: table-cell;
  width: 200px;
  border-left: 1px solid #e4e3e3;
  border-right: 1px solid #e4e3e3;
}
.area {
  display: table-cell;
  width: 200px;
}
.houseInfo span{
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.aroundInfo td {
  padding: 8px 0;
}
.title {
  color: #888;
  /*text-align: right;*/
}
/*周边配套------------*/
li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul {
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(13,3,9,0.2);
  border-radius: 2px;
  padding: 0;
  /*position: static;*/
}
.on {
  color: #ffffff;
  background-color: #39ac6a;
}
li a {
  display: inline-block;
  width: 138px;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  text-align: center;
  /*color: #555555;*/
  /*background-color: #ffffff;*/
  position: relative;
  text-decoration: none;
}
.on:after {
  position: absolute;
  bottom: -8px;
  color: #39ac6a;
  display: block;
  line-height: 1;
  left: 62px;
  content: '▼';
}
/*---------------看房记录---------*/
button{
  width: 100px;
  height: 30px;
 float: right;
  background-color: #39ac6a;
  color: white;
  border: none;
}
#comment{
  width:95%;
  height: 100px;
}
.glyphicon{
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.user_icon{
  height:50px;
  width:50px;
  float: left;
}
.user_icon img{
  height:40px;
  width:40px;
  border-radius: 20px
}

.user_comment{
  list-style: none;
  height: 70px;
  clear: both;
}
.userName{
  color: #0C73CD;
  font-size: 15px;
}
.commentinfo{
  font-size: 15px;

}
.adate{
  font-size: 12px;
  margin-top: 5px;
  float: left;
}

.thumb{
 font-size: 15px;
  margin-left: 780px;
  /*top: -20px;*/
  float: left;

}
/*右侧业主信息-----------*/
.yezhuright{
  height: 350px;
  border: 1px solid #e4e3e3;
  position:relative;

  /*margin-top: -100px*/
;
}

.yezhuright-after{

    position: fixed;
    top: 0px;
    right: 15%;
}
.shoucang{
  width: 100%;
  height: 35px;
}
/*轮播----------------*/
.lunbo{
  /*background-repeat: no-repeat !important;*/
  /*background-size: cover !important;*/
  /*background-position: 50% 50% !important;*/
  /*height: 550px !important;*/
  /*display: block;*/

  /*position: relative;*/
  /*overflow: hidden;*/

  width: 100%;
  height: 550px;
  border-radius: 10px;
}
/*.lunbo img{*/
  /*overflow: hidden;*/
/*}*/
.hot-houses{
margin-left: -65px;
  margin-right: -65px;
}
