@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 640px) and (max-width: 1000px) {

  #topanimate {
    display: none;
  }

}

@media screen and (max-width: 640px) {
  /*搜索框上边的白字*/
  #topanimate {

    margin: 0 auto;
    display: none;

  }

  /*搜索按钮*/
  #input-group-btn {

    width: 22px;
    margin-top: 1px;

  }

  /*搜索框*/
  #indexsearch {


  }

  /*搜索框div*/


}

.mybody {
  background: url(http://owhah4u2f.bkt.clouddn.com/images/index/bannerV2.jpg);
  background-position: top;
  background-size: 100% 660px;
  background-repeat: no-repeat;
  /*背景视差属性*/
  background-attachment: fixed;
}


.navbar-collapse ul li a {
  color: white;
}

.navbar-collapse ul li a:hover {
  background-color: rgba(0, 0, 0, 0);
   color: #cacaca;
}

.nav-lvju img {
  width: 20px;
}
.navbar-header img{
  position: absolute;
  top: 5px;
  left: 40px;
  width: 80px;
  height: 35px;

}

.login-outmodel a:hover{
  font-size: 14px;
}
.login-outmodel a:hover{
  cursor: pointer;
}
/*模态框的头部*/


.modal-body{
background: url("../../assets/images/loginbg1.jpg");
background-color: rgba(255, 255, 255, 0.39);

}

#login-tabs{
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;

}
#login-tabs-left{
  width: 50%;
  box-sizing: border-box;
}
#login-tabs-left a{

}

#login-tabs-right{
  width: 50%;
  box-sizing: border-box;
}

/*<!--填写注册信息-->*/
.profile{

}

.input-group {
  margin: 0 auto;
  margin-top: 300px;
  width: 50%;
}

/*背景图蒙版*/

#mycontainer {

  /*background-color: rgba(42, 118, 61, 0.29);*/
  height: 720px;

}

/*快来找月付*/
#topanimate {
  font-family:"Times New Roman", Times, serif;
  font-size: 60px;
  color: rgba(254, 255, 211, 1);
  text-align: center;
  font-weight: 900;
  position: relative;
  top: 170px;
}



/*搜索栏*/
.form-control{

  border:none;
  color: white;
}
/*按钮*/





/*主页小工具*/
.gongju {

  top:30px;
   background: url("../../assets/images/loginbg1.jpg") no-repeat;
  background-position: center;
  background-size: 100% 100%;

}

.gongju div {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.87);

}
.gongju div:hover{
  height: 200px;
}

.gongju img {
  width: 76px;
  height: 65px;
  margin: 20px auto;
  display: block;
  transition: width 0.1s;
  -webkit-transition: width 0.1s; /* Safari */
}

.gongju img:hover {
  animation-name: pulse;
}

.gongju h4 {
  margin-top: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.gongju p {
  text-align: center;
}

/*头条部分*/

.toutiao{
  width: 100%;
  height: 660px;
  margin: 0px auto;
  background-color: rgba(242, 242, 243, 0.85);

}


.toutiao-left{
   height: 400px;
  border-right: 2px dashed rgba(0, 0, 0, 0.64);
  box-sizing: border-box;

}
.toutiao-right{
  height: 400px;
}
.toutiao-right>div{
  border-radius: 5px;
}

.toutiao-right img{
  border-radius: 5px;
}
.text-right a:hover{
  text-decoration: none;
}

.toutiao-right img{
  width: 345px;height: 190px;
  margin-top: 10px;
}
.lunbo{
width: 100%;
  height: 400px;
  border-radius: 10px;

}
.lunboimg img{
  width: 790px;
  height: 400px;
  border-radius: 10px;
}

/*房屋列表*/













/*红色房子背景视差*/
.middlebg{
  width: 100%;

  z-index: -4;
  background:url("../../assets/images/bigbg2.png");
  background-size: 100%;
  background-attachment: fixed;

}
.bottom-bg{
  width: 100%;

  z-index: -5;
  background:url("../../assets/images/redhouse3.jpg");
  background-size: 100%;
  background-attachment: fixed;
}


/*////返回顶部////////////*/

#elevator_item {
  width: 60px;
  height: 160px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  opacity: 1;
  z-index: 5;
  display: none;
}
#elevator_item.off {
  opacity: 0;
  visibility: hidden
}
#elevator {
  display: block;
  width: 60px;
  height: 50px;
  background: url(../../assets/images/icon_top.png) center center no-repeat;
  background-color: #444;
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  cursor: pointer;
  margin-bottom: 10px
}
#elevator:hover {
  background-color: rgba(0,0,0,.7)
}
#elevator:active {
  background-color: rgba(0,0,0,.75)
}
#elevator_item .qr {
  display: block;
  width: 60px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  cursor: pointer;
  background: url(../../assets/images/icon_code.png) center center no-repeat;
  background-color: #444;
  background-color: rgba(0,0,0,.6)
}
#elevator_item .qr:hover {
  background-color: rgba(0,0,0,.7)
}
#elevator_item .qr:active {
  background-color: rgba(0,0,0,.75)
}
/*#elevator_item .qr-popup {*/
  /*width: 160px;*/
  /*height: 170px;*/

  /*box-shadow: 0 1px 8px rgba(0,0,0,.1);*/
  /*position: absolute;*/
  /*left: -180px;*/
  /*bottom: 0;*/
/*background-color: whitesmoke;*/
  /*border-radius: 2px;*/
  /*display: none;*/
  /*text-align: center*/
/*}*/
#elevator_item .qr-popup .code-link {
  display: block;
  margin: 10px;
  color: #000000
}
/*二维码图片*/
#elevator_item .qr-popup .code-link img {
  margin-left: -5px;
width: 150px;
  height: 130px;
}

#elevator_item .qr-popup .code {
  display: block;
  margin-bottom: 10px
}
#elevator_item .qr-popup .arr {
  width: 6px;
  height: 11px;
  background: url(../../assets/images/code_arrow.png) 0 0 no-repeat;
  position: absolute;
  right: -6px;
  bottom: 14px
}

/*jisuanqi计算器*/

.myjisuanqi{
  margin-top: 10px;

}


#jisuanqi{
  display: block;
  width: 60px;
  height: 50px;
  background: url(../../assets/images/jsq1.svg) center center no-repeat;
  background-color: #444;
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;

}
#jisuanqi:hover {

  background-color: rgba(0,0,0,.7)
}



.jisuanqimain{
display: none;
  width: 360px;
  height: 460px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  position: absolute;
  top: -210px;
  left: -340px;
}

/*.jisuanqimain:hover{*/
  /*width: 360px;*/
  /*height: 460px;*/
  /*box-shadow: 0 1px 8px rgba(0,0,0,.1);*/
  /*position: absolute;*/
  /*top: -210px;*/
  /*left: -340px;*/
/*}*/

/*//////////////////////////////////////////计算器样式///////////////////////////////////*/

.jisuanqicontainer {
  background: rgba(0, 0, 0, 0.78);
  width: 285px;
  height: 350px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
}
.jisuanqicontainer input {
  width: 100%;
  height: 50px;
  text-align: right;
  border: none;
  font-size: 32px;
  margin: 5px auto;
  border-radius: 5px;
}
.btns {
  width: 100%;
}
.jisuanqicontainer button {
  width: 50px;
  height: 40px;
  border: none;
  float: left;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #000000;
}
.normal {
  margin: 8px;
}
 .clear {
  margin: 5px auto;
  width: 100%;

}
/*///////////////////////////////下拉框////////////////////////////*/
#downlist{
  width: 90px;
  height: 50px;
  position: relative;
  top:-3px;
  display: inline-block;
  background-color: #1d7db1;
}



.user_icon{
  height:30px;
  width:30px;
  background-color: #b18a66;
}
.user_icon img{
  height:30px;
  width:30px;
  border-radius: 15px
}






.mydemo {
  color: #fff;
  line-height: 30px;
  width: 120px;
  height: 50px;
  margin-top: -25px;

}
.quick_menu{
  width: 60px;
  height: 50px;
  z-index: 1000;
  position: absolute;
  right: 80px;
}
.quick_menu > li {
  width: 70px;
  height: 50px;

  font-size: 14px;
  font-weight: 100;
  display: inline-block;
  position: relative;
  top: 3px;
  right: 50px;
  margin-right: 10px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  list-style: none;
  color: white;
}

.quick_menu > li:hover {
  display: inline-block;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  list-style: none;
}


.quick_menu a,
.quick_menu a:hover{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.quick_menu > li:hover .user_fun_sub {
  opacity:1;
  -webkit-animation: turn 2s ease-in-out;
  -moz-animation: turn 2s ease-in-out;
  -ms-animation: turn 2s ease-in-out;
  animation: turn 2s ease-in-out;
  visibility: visible;
  list-style: none;
}

.user_fun  {
  position: absolute;
  right: 20px;
}

.user_fun_sub {
  position: absolute;
  text-align: left;
  line-height: 30px;
  width: 125px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: rgba(0, 16, 19, 0.71);
  opacity: 0;
  right: -40px;
  color: white;
  visibility: hidden;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  top: 51px;
}



@-webkit-keyframes turn {
  0%{
    -webkit-transform: rotateX(90deg);
  }
  20%{
    -webkit-transform: rotateX(-30deg) rotateY(10deg);
  }
  35%{
    -webkit-transform: rotateX(20deg) rotateY(-3deg);
  }
  55%{
    -webkit-transform: rotateX(-15deg) rotateY(8deg);
  }
  85%{
    -webkit-transform: rotateX(20deg) rotateY(-2deg);
  }
  100%{
    -webkit-transform: rotateX(0);
  }
}
@-moz-keyframes turn {
  0%{
    -moz-transform: rotateX(90deg);
  }
  20%{
    -moz-transform: rotateX(-30deg) rotateY(10deg);
  }
  35%{
    -moz-transform: rotateX(20deg) rotateY(-3deg);
  }
  55%{
    -moz-transform: rotateX(-15deg) rotateY(8deg);
  }
  85%{
    -moz-transform: rotateX(20deg) rotateY(-2deg);
  }
  100%{
    -moz-transform: rotateX(0);
  }
}
@-ms-keyframes turn {
  0%{
    -ms-transform: rotateX(90deg);
  }
  20%{
    -ms-transform: rotateX(-30deg) rotateY(10deg);
  }
  35%{
    -ms-transform: rotateX(20deg) rotateY(-3deg);
  }
  55%{
    -ms-transform: rotateX(-15deg) rotateY(8deg);
  }
  85%{
    -ms-transform: rotateX(20deg) rotateY(-2deg);
  }
  100%{
    -ms-transform: rotateX(0);
  }
}
@keyframes turn {
  0%{
    transform: rotateX(90deg);
  }
  20%{
    transform: rotateX(-30deg) rotateY(10deg);
  }
  35%{
    transform: rotateX(20deg) rotateY(-3deg);
  }
  55%{
    transform: rotateX(-15deg) rotateY(8deg);
  }
  85%{
    transform: rotateX(20deg) rotateY(-2deg);
  }
  100%{
    transform: rotateX(0);
  }
}



/*#downlist{*/
  /*width: 90px;*/
  /*height: 50px;*/
  /*position: relative;*/
  /*top:-3px;*/
  /*display: inline-block;*/
  /*background-color: #1d7db1;*/
/*}*/



/*.user_icon{*/
  /*height:30px;*/
  /*width:30px;*/
/*}*/
/*.user_icon img{*/
  /*height:30px;*/
  /*width:30px;*/
  /*border-radius: 15px*/
/*}*/


/*#navbar-right{*/
/*}*/
/*.mydemo {*/
  /*color: #fff;*/
  /*line-height: 30px;*/
  /*width: 120px;*/
  /*height: 130px;*/
  /*margin-top: -25px;*/


/*}*/

/*.quick_menu > li {*/

  /*width: 70px;*/
  /*height: 30px;*/
/*font-size: 14px;*/
/*font-weight: 100;*/
  /*display: inline-block;*/
  /*position: relative;*/

  /*right: 50px;*/
  /*margin-right: 10px;*/
  /*-webkit-perspective: 1000px;*/
  /*-moz-perspective: 1000px;*/
  /*-ms-perspective: 1000px;*/
  /*perspective: 1000px;*/
  /*list-style: none;*/
  /*color: white;*/
  /*background-color: #b15013;*/
/*}*/

/*.quick_menu > li:hover {*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*width: 70px;*/
  /*height: 110px;*/
  /*-webkit-perspective: 1000px;*/
  /*-moz-perspective: 1000px;*/
  /*-ms-perspective: 1000px;*/
  /*perspective: 1000px;*/
  /*list-style: none;*/
  /*background-color: #b13a6c;*/
/*}*/


/*.quick_menu a,*/
/*.quick_menu a:hover{*/

  /*color: #f5d95d;*/
  /*font-weight: bold;*/
  /*text-decoration: none;*/

/*}*/
/*.quick_menu > li:hover .user_fun_sub {*/
  /*opacity:1;*/
  /*-webkit-animation: turn 2s ease-in-out;*/
  /*-moz-animation: turn 2s ease-in-out;*/
  /*-ms-animation: turn 2s ease-in-out;*/
  /*animation: turn 2s ease-in-out;*/
  /*visibility: visible;*/
  /*list-style: none;*/
/*background-color: darkorange;*/

/*}*/


/*.user_fun b {*/
  /*position: absolute;*/
  /*top: 8px;*/
  /*padding-left: 2px;*/
  /*font-weight: normal;*/
  /*font-size: 22px;*/
  /*background-color: #8e2bb1;*/
/*}*/
/*.user_fun_sub {*/
  /*position: absolute;*/
  /*text-align: left;*/
  /*line-height: 30px;*/
  /*width: 125px;*/
  /*top: 30px;*/
  /*padding: 5px 0;*/
  /*border-radius: 5px;*/
  /*background-color: rgba(0, 16, 19, 0.71);*/
  /*opacity: 0;*/
  /*right: -40px;*/
  /*visibility: hidden;*/
  /*-webkit-transform-origin: 50% 0%;*/
  /*-moz-transform-origin: 50% 0%;*/
  /*-ms-transform-origin: 50% 0%;*/
  /*transform-origin: 50% 0%;*/
  /*background-color: #302fb1;*/
/*}*/
/*.user_fun_sub a {*/

  /*display: block;*/
  /*text-shadow: 0 1px 1px rgba(0,0,0,.2);*/
  /*margin: 2px 5px 2px 5px;*/
  /*padding-left:5px;*/
/*}*/
/*.user_fun_sub a:hover {*/
  /*border-radius: 3px;*/
  /*color: #3c763d;*/
  /*background-color: #443eaf;*/

/*}*/
/*.log_out a {*/
  /*display: block;*/
  /*line-height: 15px;*/
  /*padding: 5px 20px;*/
  /*margin-left: 40px;*/
  /*border-radius: 3px;*/
  /*-webkit-transition: all 1s ease;*/
  /*-moz-transition: all 1s ease;*/
  /*-ms-transition: all 1s ease;*/
  /*-o-transition: all 1s ease;*/
  /*transition: all 1s ease;*/
/*}*/


/*@-webkit-keyframes turn {*/
  /*0%{*/
    /*-webkit-transform: rotateX(90deg);*/
  /*}*/
  /*20%{*/
    /*-webkit-transform: rotateX(-30deg) rotateY(10deg);*/
  /*}*/
  /*35%{*/
    /*-webkit-transform: rotateX(20deg) rotateY(-3deg);*/
  /*}*/
  /*55%{*/
    /*-webkit-transform: rotateX(-15deg) rotateY(8deg);*/
  /*}*/
  /*85%{*/
    /*-webkit-transform: rotateX(20deg) rotateY(-2deg);*/
  /*}*/
  /*100%{*/
    /*-webkit-transform: rotateX(0);*/
  /*}*/
/*}*/
/*@-moz-keyframes turn {*/
  /*0%{*/
    /*-moz-transform: rotateX(90deg);*/
  /*}*/
  /*20%{*/
    /*-moz-transform: rotateX(-30deg) rotateY(10deg);*/
  /*}*/
  /*35%{*/
    /*-moz-transform: rotateX(20deg) rotateY(-3deg);*/
  /*}*/
  /*55%{*/
    /*-moz-transform: rotateX(-15deg) rotateY(8deg);*/
  /*}*/
  /*85%{*/
    /*-moz-transform: rotateX(20deg) rotateY(-2deg);*/
  /*}*/
  /*100%{*/
    /*-moz-transform: rotateX(0);*/
  /*}*/
/*}*/
/*@-ms-keyframes turn {*/
  /*0%{*/
    /*-ms-transform: rotateX(90deg);*/
  /*}*/
  /*20%{*/
    /*-ms-transform: rotateX(-30deg) rotateY(10deg);*/
  /*}*/
  /*35%{*/
    /*-ms-transform: rotateX(20deg) rotateY(-3deg);*/
  /*}*/
  /*55%{*/
    /*-ms-transform: rotateX(-15deg) rotateY(8deg);*/
  /*}*/
  /*85%{*/
    /*-ms-transform: rotateX(20deg) rotateY(-2deg);*/
  /*}*/
  /*100%{*/
    /*-ms-transform: rotateX(0);*/
  /*}*/
/*}*/
/*@keyframes turn {*/
  /*0%{*/
    /*transform: rotateX(90deg);*/
  /*}*/
  /*20%{*/
    /*transform: rotateX(-30deg) rotateY(10deg);*/
  /*}*/
  /*35%{*/
    /*transform: rotateX(20deg) rotateY(-3deg);*/
  /*}*/
  /*55%{*/
    /*transform: rotateX(-15deg) rotateY(8deg);*/
  /*}*/
  /*85%{*/
    /*transform: rotateX(20deg) rotateY(-2deg);*/
  /*}*/
  /*100%{*/
    /*transform: rotateX(0);*/
  /*}*/
/*}*/

