
<div class="mybody row" >

  <div id="mycontainer" >

    <!--导航-->
    <div style="height: 100%">
      <nav class="navbar " id="myself-nav" >
        <div class="container-fluid">
          <div class="navbar-header " >
            <a class="navbar-brand" href="#">
              <img src="http://owhah4u2f.bkt.clouddn.com/images/logo/1.png" alt="" >
            </a>
            <button type="button" class="navbar-toggle navbar-inverse" data-toggle="collapse"
                    data-target="#navbar-collapse">
              <span class="sr-only">切换导航</span>
              <span class="icon-bar icon-bar-success"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse " id="navbar-collapse" >
            <ul class="nav navbar-nav navbar-right ">
              <li class="active "><a href="#"> <span class="glyphicon glyphicon-home "> </span>首页</a></li>
              <li ><a href="/houses" ><span ></span>租房</a></li>
              <li><a href="/news"><span class="nav-lvju"><img src="../../assets/images/lvju.png" alt="" ></span>头条</a></li>
              <li><a href="/page-not-found"><span ></span>小区</a></li>
              <li><a href="/owner"><span ></span>业主</a></li>
              <li *ngIf="islogin"><a href="/personal-center"><span class="glyphicon glyphicon-user" ></span>{{userName}}</a></li>
              <li  *ngIf="!islogin" ><a href="/login"><span class="glyphicon glyphicon-user" ></span>登录/注册</a></li>
            </ul>
          </div>
        </div>


      </nav>
      <!--搜索框-->

      <div class="row " id="mian-serch">
        <div class="input-group input-group-lg col-md-12 ">
          <p class="animated bounceInLeft " id="topanimate" >让你在每个城市都有家的感觉！</p>
          <input type="text"  class="form-control animated bounceInRight"  placeholder="请输入城市·区域名开始找房" style=" border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;">
          <span class="input-group-btn " id="input-group-btn">
                <button class="btn btn-success animated bounceInRight" (click)="myFunction()" id="zf" type="button" >开始找房</button>
      </span>
        </div>
      </div>
    </div>


    <!--小工具-->
    <div class="row gongju">

      <div class="col-md-3 col-sm-6 col-xs-6" >
        <img class="animated rubberBand" src="../../assets/images/ditulogo.png" alt="">
        <h4>地图找房</h4>
        <p>为你精确定位</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6" >
        <img  class="animated rubberBand" src="../../assets/images/hezulogo.png" alt="">
        <h4>找租房</h4>
        <p>为你精心挑选房源，适合上班族。</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6" >
        <img  class="animated rubberBand"  src="../../assets/images/zufanglogo.png" alt="">
        <h4>找合租房</h4>
        <p>毕业出来工作，手头没钱不如来合租！</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6"  >
        <img  class="animated rubberBand"  src="../../assets/images/jisuanqilogo.png" alt="">
        <h4>计算器</h4>
        <p>生活就待精打细算</p>
      </div>

    </div>


          <!--今日头条-->

    <div class="toutiao" >
<div class="container" >

  <div class="row house-list-title col-md-12 col-lg-12 col-sm-12" >
    <h2 class="col-md-10">头条不容错过</h2>
    <span class="col-md-2 text-right" style="margin-top: 40px"><a href="/houses">更多头条>></a></span>
  </div>

<div class="row " >
  <div class="col-md-8 toutiao-left" >

    <!--轮播图-->
    <div id="carousel-example-generic" class="carousel slide lunbo" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner lunboimg" role="listbox">
        <div class="item active">
          <img src="../../assets/images/redhouse.jpg" alt="...">
          <div class="carousel-caption">
            <!--...图片的标题-->
          <p class="animated bounceInDown">  听说嵇德松买下了整条街，震惊了俩人。</p>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/images/redhouse1.jpg" alt="...">
          <div class="carousel-caption">
           <p class="animated bounceInDown"> 听说钱彩云买下了整个庄园，震惊了仨人。</p>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/images/redhouse3.jpg" alt="...">
          <div class="carousel-caption">
            <p class="animated bounceInDown"> 听说唐可炜买下了整个城市，震惊了四人。</p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
        <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Previous</span>-->
      <!--</a>-->
      <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
        <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Next</span>-->
      <!--</a>-->
    </div>


  </div>
<!--右边的两个图片块-->
  <div class="col-md-4 toutiao-right" >

    <div class="row ">
      <div class="col-md-12 " style="margin-top: -5px">
        <img src="../../assets/images/shanghai.jpg" alt="">
      </div>

      <div class="col-md-12">
        <img src="../../assets/images/toutiao.jpg" alt="">
      </div>
    </div>

  </div>
</div>


</div>
</div>





    <div class="middlebg">

    </div>
    <!--房屋列表-->
   <app-list-item></app-list-item>


    <!--页脚部分-->
    <app-footer></app-footer>


    <!--返回顶部-->
  <div id="elevator_item">
    <a id="elevator" onclick="return false;" title="回到顶部"></a>
    <a class="qr"></a>
    <div class="qr-popup" style="background-color: rgba(0,0,0,0.63)">
      <a class="code-link">
        <img class="code" src="../../assets/images/wxapp.png"/>
      </a>
      <span>扫码关注更多房屋信息</span>
      <div class="arr"></div>
    </div>

  </div>
</div>

</div>
