@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 640px) and (max-width: 1000px) {

  #topanimate {
    display: none;
  }

}

@media screen and (max-width: 640px) {
  /*搜索框上边的白字*/
  #topanimate {
    display: none;
  }

  /*搜索按钮*/
  #input-group-btn {

    width: 20px;

  }

  /*搜索框*/
  #indexsearch {
    width: 200px;
  }

  /*搜索框div*/
  #mian-serch {

  }

}

.mybody {
  background: url(../../assets/images/bannerV2.jpg);
  background-size: 100% 660px;
  background-repeat: no-repeat;
  /*背景视差属性*/
  background-attachment: fixed;

}

.navbar-collapse ul li a {
  color: white;
}

.navbar-collapse ul li a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.nav-lvju img {
  width: 20px;
}

.input-group {
  margin: 0 auto;
  margin-top: 300px;
  width: 50%;
}

/*背景图蒙版*/

#mycontainer {

  /*background-color: rgba(42, 118, 61, 0.29);*/
  height: 720px;

}

/*快来找月付*/
#topanimate {

  font-size: 38px;
  color: rgba(254, 255, 211, 1);
  text-align: center;
  margin-left: 180px;
  margin-top: -150px;

}

#mymodal-content {

  width: 500px;
  height: 600px;
  margin-left: 70px;
  margin-top: 0px;

}

/*主页小工具*/
.gongju {
  width: 100%;
  margin-top: 230px;
  background-color: white;
}

.gongju div {
  margin-top: 10px;
}

.gongju img {
  width: 76px;
  height: 65px;
  margin: 0 auto 17px auto;
  display: block;
  transition: width 0.1s;
  -webkit-transition: width 0.1s; /* Safari */
}

.gongju img:hover {
  animation-name: pulse;
}

.gongju h4 {
  margin-top: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.gongju p {
  text-align: center;
}

/*房屋列表*/
.house-list {
background-color: #f2f2f3;
margin: 0 auto;

}

.house-list .house-list-title h4 {
  margin-left: 2px;

}

.house-list p, h4 {
  text-align: center;
}

.house-list img {
  width: 100%;
}

.house-list .price {
  margin-top: -40px;
  width: 80px;
  height: 20px;
  background-color: rgba(100, 177, 145, 0.82);
  position: absolute;
  margin-left: 1px;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}





